[2015-03-11 18:15] hueniverse opened #1 "Create a basic HTTP server"
Let's get started!

First, we need some basic structure: a `lib` folder, a `package.json` file, and an initial `index.js`. Since we will be using **hapi**, we need to include that in the project dependencies.

Second, create a basic **hapi** server on port 8000 which responds to `/version` requests and replies with a simple `{ "version": "0.0.1" }` JSON payload. The version in the response should

[2015-03-12 01:50] TheAlphaNerd opened #4 "Basic Linting / Testing"
It is suggested that individuals follow the hapi style guide while working on this project. It was also suggested that we might want to expand upon our projects by doing things such as writing tests.

My current stack involves eslint + jscs + tape. That being said I know that the hapi project uses lab.

Would it make sense to add a basic pass at lab into our first lesson or is this planned to come

[2015-03-12 02:42] hueniverse commented on #4
Adding tests will come shortly after.

[2015-03-12 02:42] #4 closed

[2015-03-12 09:32] AdriVanHoudt commented on #1
Maybe a standard way to post PR will be helpful in the future e.g. every PR for this assignment looks like  `[Assignment 1] My PR title`?

[2015-03-12 13:01] rodrigo-medeiros commented on #1
@AdriVanHoudt +1

[2015-03-12 17:41] pruett opened #11 "ES6 integration?"
I'm curious about the conversation around es6 and if we should integrate that into this "tutorial". I understand that the main goal is to learn Hapi but still very interested in a workflow that allows for ES6 either through io.js or a node.js equivalent approach.

[2015-03-12 18:45] AdriVanHoudt commented on #11
well since hapi doesn't officially support io.js I don't think this will be added

[2015-03-13 00:14] hueniverse commented on #11
I think we should avoid it for now. Goal is to make this work with node 0.10 for the time being.

[2015-03-13 00:14] #11 closed

[2015-03-13 00:15] hueniverse commented on #1
I'm ok with that. Generally, github links to this issue are enough for me.

[2015-03-13 06:47] rutaihwa commented on #1
[ Assignment #1 ] [Basic HTTP server ] (https://github.com/rutaihwa/hueniversity/commit/7d20e56894a13397c7f93747f6c9f385405bc8f9)

[2015-03-13 18:22] roelof1967 opened #17 "Assigment 1 : Do I need to use a stream ?"
Hello,

I wonder if I need a stream to read the contents of the version  of the package.json or are there better ways to do this ?

Roelof

[2015-03-13 18:23] TheAlphaNerd commented on #17
I read the package.json fwiw

[2015-03-13 18:25] roelof1967 commented on #17
sorry I do not understan what you mean ?

[2015-03-13 18:30] TheAlphaNerd commented on #17
require(‘./package.json');
On Mar 13, 2015, at 11:25 AM, roelof1967 <notifications@github.com> wrote:

[2015-03-13 18:30] adrianblynch commented on #17
You can simply require the package file `var pkg = require('./package.json')` or read it:

[code]

I prefer the former.

[2015-03-13 18:37] roelof1967 commented on #17
oke, I think this exercises are too difficult for me. If I use the require I still do not have a clue how to read the contents :(

[2015-03-13 18:41] muhammad-saleh commented on #17
I did it that way :)
I just read the file content and saved it to a variable
[code]
Now I have an object with the content of the file and you can simply access them like:
[code]
Hope I helped

[2015-03-13 18:42] TheAlphaNerd commented on #17
when you require a .json file it turns that file into an object.  A great way to figure out this type of stuff is to just try console logging the result, and seeing what it is.

Please do not be discouraged, I promise that you can do it!

[2015-03-13 19:08] hueniverse commented on #17
@roelof1967 you have a few options:
- ask (like you did) and get back to trying
- look at what other people submitted, and learn from their code
- do your best and you'll get feedback once submitted
- all of the above :-)

[2015-03-13 19:11] roelof1967 commented on #17
Im trying now.

I have now this :+1:

[code]

but that do not give back the answer. So again back to the drawing table.

Roelof

[2015-03-13 19:21] roelof1967 commented on #17
When I change it to this :

[code]

I see the right output but not in json. Also JSON.parse does not turn it into the right answer,
Someone a tip ?

[2015-03-13 19:24] muhammad-saleh commented on #17
Try this:
[code]

[2015-03-13 19:29] roelof1967 commented on #17
Thanks, then I have solved this one.

[2015-03-13 19:29] #17 closed

[2015-03-14 09:37] adrianblynch commented on #17
@roelof1967 - Take a second look at your path which is `path: '/{version}'`. Read the assignment again and you should spot what's wrong.

What URL are you making the request on?

[2015-03-14 09:49] roelof1967 commented on #17
Thanks, I solved it already. See my commit

[2015-03-16 06:43] hueniverse commented on #1
General comments:

- The project structure should follow the same style of every other hapi module. This means `package.json` should include a `main` property that points to either `index.js` or `lib/index.js`. If the project includes a root `index.js`, it must not include any code other than `require('./lib/index.js')`. This makes searching for code easier later as well as keeps the entire applic

[2015-03-16 07:33] hueniverse commented on #1
Some more:
- You pull request is for this repo, not yours. This means that your `package.json` file should reference this URI, not your fork.
- The `package.json` file can be assigned to either an UpperCamelCase variable (`var Package = require('./package.json');`) or to an `internals` variable but not just a module global per the style guide.
- Some of you went the extra mile with your `package.j

[2015-03-16 16:34] oluoluoxenfree commented on #1
Is the server supposed to be part of internals? May have confused myself.

[2015-03-16 17:16] rutaihwa commented on #1
@oluoluoxenfree if I understand correctly, for the first assignment, it was supposed to be a basic server.  It could as well be started as ` server.start() `, I also think that @hueniverse was giving his feedbacks going forward for future works as it will build on this.

[2015-03-16 17:17] oluoluoxenfree commented on #1
@rutaihwa Sorry for deleting I meant to edit, thank you!

[2015-03-16 17:27] oluoluoxenfree commented on #1
@rutaihwa How did you reference the issue? All I can find is [this](https://help.github.com/articles/closing-issues-via-commit-messages/).

[2015-03-16 17:29] AdriVanHoudt commented on #1
@oluoluoxenfree just put any of the keywords and a reference to the issue in the description like `closes #1`

[2015-03-16 17:37] oluoluoxenfree commented on #1
@AdriVanHoudt Thank you!

Sorry for cluttering up the issue with questions, won't happen again.

[2015-03-16 17:38] rutaihwa commented on #1
Thanks @oluoluoxenfree I have overlooked that my self, thanks for the question.

[2015-03-16 18:59] AdriVanHoudt commented on #1
@oluoluoxenfree np and this is issue is for questions so feel free to ask whatever you want. If you need general Hapi help check out the gitter https://gitter.im/hapijs/hapi

[2015-03-16 19:08] muhammad-saleh commented on #1
Thanks a lot for your time and this was very helpful.
But sorry why are we referencing the issues ?

[2015-03-16 19:10] AdriVanHoudt commented on #1
It makes it easier to find what PR is related to what issue and vica versa, not so much needed now but helps when dealing with multiple PR's and issues

[2015-03-16 19:10] muhammad-saleh commented on #1
okay great #3

[2015-03-16 20:44] asalem57 commented on #1
#3

[2015-03-17 19:14] #1 closed

[2015-03-17 19:16] hueniverse commented on #1
Quick note about `internals`. The idea is not to declare **any** variable on the module global (e.g. the individual file you are working on). This includes the `server` variable most of you declared. While some were getting close to how it should be done with `internals.server`, that's not ideal. I'll modify the master branch to show how I would prefer to do it.

[2015-03-17 19:17] AdriVanHoudt commented on #1
@hueniverse thanks for the clarification! How come no example on hapijs.com does this? Because the examples are too trivial?

[2015-03-17 19:25] hueniverse commented on #1
@AdriVanHoudt probably because I didn't write them... :-)

[2015-03-17 19:27] AdriVanHoudt commented on #1
@hueniverse haha

[2015-03-17 19:33] fyockm commented on #1
@hueniverse thanks for the clarification on `internals`.

[2015-03-18 17:00] hueniverse opened #43 "Convert to a plugin"
The right way to work with hapi is to build your application using plugins. Plugins provide a way to organize your code into logical components and then put them together in different combinations or deploy them in different configurations. While some plugins are published as general purpose utilities (e.g. adding authentication), you should think of plugins as a way to break your code into pieces

[2015-03-18 17:22] AdriVanHoudt commented on #43
Nice git guide!

[2015-03-18 17:26] AdriVanHoudt commented on #43
How far do we need to go with the plugin? e.g. add its own package.json and tests?

[2015-03-18 17:40] TheAlphaNerd commented on #43
I was under the impression that since we were asked to make ```lib/version.js``` that would be the extent of what we are to do for a plugin.  @hueniverse had previously mentioned testing would be coming in a future assignment (although I do long for tests!).

I was also noticing the amount of noise that my pr has created referencing this issue... is this a problem?

[2015-03-18 17:42] AdriVanHoudt commented on #43
yeah I guess and I noticed the noise to. How come? Looks like the same commit every time?

[2015-03-18 17:43] TheAlphaNerd commented on #43
OHHHHHH I think it is from my rebasing

[2015-03-18 17:43] AdriVanHoudt commented on #43
aaah probably yes

[2015-03-18 17:44] TheAlphaNerd commented on #43
Btw

```plus = commit -a --amend --no-edit```

FTW!!!

[2015-03-18 17:45] AdriVanHoudt commented on #43
for adding to an existing commit?

[2015-03-18 17:45] TheAlphaNerd commented on #43
mmhmmm.  That alias will take all staged chages and squash them down into the last commit.

[2015-03-18 18:50] hueniverse commented on #43
No need for a standalone plugin module, just the one file.

[2015-03-18 20:16] AdriVanHoudt commented on #43
:+1:

[2015-03-19 06:58] roelof1967 commented on #43
I have now this.

index.js :

[code]

[2015-03-19 07:38] Couto commented on #43
@roelof1967 you should do `require('./version.js')` when registering the plugin, as far as I know, if you don't refer to a file name, node just tries to require the module from the `node_modules` folder.

[2015-03-19 07:45] roelof1967 commented on #43
Thanks, I had to change require (version) to require(./version) and the error message disappear.

[2015-03-19 08:01] Couto commented on #43
Quick questions:

1. Should we bump the patch in the version on package.json? Meaning that this assignment will generate the version 0.0.2?

2. How should we handle the callbacks with `server.register`/`server.start` ? Do we need to wait for the plugins to be registered to start the server, or is it ok to start the server right after calling the `server.register` function?
e.g:
[code]
vs
[code]

[2015-03-19 08:02] AdriVanHoudt commented on #43
@Couto

1. I assume yes since the issue is tagged as 0.0.2
2. You should wait for all your plugins to be registered otherwise the route might not have added to the connection when starting the server

[2015-03-19 08:05] Couto commented on #43
@AdriVanHoudt

1. you're right, I didn't notice the 0.0.2 tag. :)
2. It makes sense, I was just wondering, since I've seen both ways.

[2015-03-19 08:06] AdriVanHoudt commented on #43
@Couto as far as I'm concerned the later is just plain wrong :P

[2015-03-19 20:43] idanwe commented on #43
Should `server.start` be called after `server.register`?
[code]
[code]

Both seems to work (also the second option when switching the `register` and the `start`)

[2015-03-19 20:45] AdriVanHoudt commented on #43
Better to start the server in the register callback so you are sure all the plugins are loaded correctly before starting

[2015-03-22 19:47] hueniverse commented on #43
General feedback:
- `require('./version')` should be declared at the top and assigned to `Version`.
- no need to wrap the plugin in `{ register: Version }`. It is enough to just pass `Version` directly to the `register()` function.
- no need for specifying the plugin version in the attributes. This is an internal plugin, not a publicly published one.
- `server.start()` must be inside the callback

[2015-03-22 19:50] TheAlphaNerd commented on #43
@hueniverse is there a preferred pattern for handling async when you are registering multiple plugins?

[2015-03-22 20:15] hueniverse commented on #43
You can pass an array if they all share the same (or lack of) options. Otherwise, you can use the glue module or create your own utility.

[2015-03-23 00:23] sfabriece opened #66 "JsHint file for styleGuide?"
Can someone provide a jshint file for the styleGuide for us newbies?

[2015-03-23 07:14] benhalverson commented on #66
@sfabriece Here's an example:
{
  "bitwise": true,
  "camelcase": true,
  "curly": true,
  "eqeqeq": true,
  "forin": true,
  "immed": true,
  "indent": 2,
  "latedef": "nofunc",
  "newcap": true,
  "noarg": true,
  "noempty": true,
  "nonbsp": true,
  "quotmark": "single",
  "undef": true,
  "unused": true,

  "strict": true,
  "debug": true,
  "validthis": true,
  "esnext": true,

  "node": true

[2015-03-23 07:30] hueniverse commented on #66
The lab module comes with a built-in rules file. It could be made better but that's the place you want to invest your efforts.

[2015-03-23 08:00] AdriVanHoudt commented on #66
I prefer eslint an also direct link ;) https://github.com/hapijs/lab/blob/master/lib/linters/eslint/.eslintrc

[2015-03-23 14:11] #66 closed

[2015-03-24 21:14] #43 closed

[2015-03-24 21:32] hueniverse opened #79 "100% coverage"
Things are getting a bit more interesting...

It's time to add tests, verify coverage, confirm style, and automate all of this with CI. We will be using the [lab](https://github.com/hapijs/lab) module to perform all these tasks and automate it with [travis](https://travis-ci.org).

1. Add a `.travis.yml` file, testing our project on node 0.10, 0.12, and io.js (latest).
2. Add a test folder with tw

[2015-03-24 23:31] AdriVanHoudt commented on #79
Wasn't there a general agreement(if you want I'll search for the issue in question) to use npm for all the different tests as in define them in package.json instead of a Makefile?

[2015-03-24 23:47] hueniverse commented on #79
1. Fixed.
2. The makefile gives you easy access to stuff like `make cov-html` while the package.json one is for `npm test`.

[2015-03-24 23:49] AdriVanHoudt commented on #79
1. Ok but you still declare the response in internals, why?
2. you can easily run `npm run cov-html` plus it works also on Windows

[2015-03-25 01:55] hueniverse commented on #79
The response is in internals so you don't create the object on every request. It's a small optimization.

[2015-03-25 05:12] TheAlphaNerd commented on #79
I'm a bit stuck with the logic of testing when no arguments are given to init.  Specifically I am curious the best practice on what init should return.  If init does not return the server then there is no way to shut it down in testing without using something for spying.

For right now I have opted to return the server, it is gross but hopefully it will work for now

[2015-03-25 07:41] hueniverse commented on #79
@TheAlphaNerd did you notice the steps above to modify the `init()` method?

[2015-03-25 07:46] TheAlphaNerd commented on #79
Indeed.  You specifically state ``` If no callback is provided, assert on errors.```

I think I managed to figure out how to get that to work as expected with coverage.  The only thing I'm stuck on now is figuring out how to test specific error states that we will be executing the callback from.

For example how do I write a test that guarantees the plugin will load with an error.

[2015-03-25 07:47] TheAlphaNerd commented on #79
It is worth mentioning that the solution I found was returning the server object when no callback is provided.  What confused me specifically was how to properly stop the server if not callback was provided

[2015-03-25 07:52] hueniverse commented on #79
I have changed the assignment (step 7 and 8) to avoid the problem you hit. Sorry about that.

[2015-03-25 07:54] AdriVanHoudt commented on #79
@hueniverse I can see the optimization but does it weigh up against less readability? Also last thoughts on the makefile?

[2015-03-25 07:59] TheAlphaNerd commented on #79
@hueniverse one more quick clarification.  Do we want to call ```server.start()``` in start.js or lib/index?

[2015-03-25 08:38] hueniverse commented on #79
Leave `server.start()` in `init()`.

[2015-03-25 17:37] towns commented on #79
What about the travis integration? Do we need to set that up? I have added the travis.yml file, but do I need to configure my project in Travis to verify that I have automated this properly?

[2015-03-25 17:38] TheAlphaNerd commented on #79
the .travis file is all you need!

On Mar 25, 2015, at 10:37 AM, John Townsend <notifications@github.com> wrote:

[2015-03-26 13:56] zoe-1 commented on #79
Question Regarding Item 8:
The init() callback should return any error state as well as a reference
to the newly created server. This will allow us to later stop the server
when we test it.

I was not quite sure what to do here, so I just followed @TheAphaNerd style.
Then in tests, we just use server.stop() inside init() to stop the server.
The tests work but the callback() does not return anythin

[2015-03-26 18:27] rutaihwa commented on #79
Community, I am bit more than stuck starting from point 6, I could use some help to get going.

[2015-03-27 05:14] chyld commented on #79
To @zoe-1's point, the code in index.js and version.js should not be throwing any errors, with Hoek, but instead should be sending any errors back to the original caller - which would be either start.js or in the test code.

[2015-03-27 23:03] mikejerome commented on #79
Is there a way to have the linter display the filenames where linting errors are found? Mine only shows line numbers but no filenames.

[2015-03-28 08:10] hussainanjar commented on #79
@mikeal linter does show both filename and line numbers, see below example output of linter

[code]

[2015-03-28 16:28] mikejerome commented on #79
Hmmm I'm using solarized terminal. The filenames must be the same color as my background or something. I verified that they are there by copy-pasting but they are invisible in my terminal.

[2015-03-28 17:06] zoe-1 commented on #79
I started a tutorial / wiki for Assignment3.
https://github.com/zoe-1/hueniversity/wiki/3--Assignment
Please check it out. Hopefully, others can look it over, make recommendations, and
also contribute to a hueniversity wiki for others to learn from :-)

[2015-03-28 18:45] chyld commented on #79
Nice work @zoe-1

[2015-03-28 22:22] rutaihwa commented on #79
Thanks @zoe-1

[2015-03-29 08:28] hueniverse commented on #79
@zoe-1 feel free to put it all directly in this project wiki.

[2015-03-29 14:53] zoe-1 commented on #79
@hueniverse I put Assignment3 wiki tutorial into this project wiki.  Plus, I made some more edits.
I manually copied and pasted it into the project.  Is there a way to automate that? kind of like a PR for
a wiki? Thank you for starting hueniversity :-)
Cheers!

[2015-03-31 06:18] hueniverse commented on #79
So far we got half the previous number of pull request. If you have submitted a PR before but didn't this time, what's the reason? Is it too hard? Lost interest?

Any feedback would be useful to improve the experiment.

[2015-03-31 06:42] TheAlphaNerd commented on #79
I think it is worth considering the fact that while there are less PR's there was quite a bit more activity

[2015-03-31 06:52] MrBri commented on #79
I have a love-hate relationship with writing tests. I know its important and it feels good to see the green but the desire to sit down and write them isn't as strong as say creating something new for a user.

[2015-03-31 06:56] mikejerome commented on #79
I'm a total noob who has never done testing but I know I need to do it and following along has made it much less intimidating. This is an amazing project and I am learning so much from this experiment. I feel like this is so much more powerful than blog posts or videos.

[2015-03-31 06:58] AdriVanHoudt commented on #79
I think the size + difficulty might have to do something with it. The assignment looks bigger, although the actual execution size is not much more than before, just more smaller things. The main thing would be difficulty, the basic tests are fine but getting to 100% cc can be hard (my, and others, solution was to switch out the register function of the version plugin) and to me that doesn't seem l

[2015-03-31 08:52] rutaihwa commented on #79
Just as @AdriVanHoudt when i read the specification, everything seemed so out of my league. As with many programmer who like to hack not to test. But in fact, The entire thing makes alot of sense. Maybe I should adopt this philosopy of starting with tests and then write the actual code.
I think @hueniverse statement: "Everything up to (10) should be pretty straight forward." may have made many som

[2015-03-31 09:08] AdriVanHoudt commented on #79
also side note, the assignment didn't state where `start.js` needed to go
@rutaihwa good to hear I'm not alone, it comes down to writing style maybe? When reading the assignment it felt like a lot and hard but when broken down it was not to hard as `Everything up to (10) should be pretty straight forward` suggests, although stuff like that does not help insecure devs who might have problems along

[2015-03-31 09:30] EvanMarkHopkins commented on #79
On your next pet project, write some tests in advance. Don't strive for 100% coverge right away, but clearly document your agenda. That way the tests are no longer what's standing between you and shipping, it's your life time fitness coach. :stuck_out_tongue_winking_eye:

[2015-03-31 11:09] gyaresu commented on #79
I'm a sysadmin who has done a whole bunch of 'learn JS' work and codewars/project euler problems.
Lack of knowledge around the aspects such as the way `lab` works or how to structure the app (cb chain) meant that I am still reading about the pieces rather than using them to build the app.
I'm still following along as this is really valuable but it just might be at a more confused pace.

I don't wa

[2015-03-31 16:18] hussainanjar commented on #79
@gyaresu this is community based learning, you will still learn better with copy pasting then not doing any thing, its not a competition so no one will be caught for cheating, better advice don't copy paste but try to write code following others pull request if its too difficult for you do it yourself right now.

Though learning and making an honest attempt to do it yourself is the best way to go.

[2015-03-31 16:29] AdriVanHoudt commented on #79
Completely true, I tried as mich as I can on my own but for testing the
plugin registration failiour catch I also looked at how other did it

On Tuesday, 31 March 2015, Hussain Fakhruddin <notifications@github.com>
wrote:

[2015-03-31 19:11] zoe-1 commented on #79
After reading Assignment3 requirements, I think I understood about 60% of it. (Possibly, many just quit here)  Since I did not understand the whole assignment,  I began to look through PRs for sample code I could learn from.  I studied @TheAlphaNerd's and @chyld's  code the most and read a bunch of documentation.

After that, I  wrote my own program based on what the above two did, posted my proje

[2015-03-31 19:17] gyaresu commented on #79
Thanks @zoe-1 I'm attacking it with fresh eyes.

[2015-03-31 19:29] zoe-1 commented on #79
@gyaresu go for it!

[2015-04-01 16:40] hueniverse commented on #79
I've extended the deadline to 4/4 in hopes more people to give it a try. If you are not clear, just look at other pull requests as people above suggested. The way this entire experiment works is by moving the learning from the assignment instructions to the community interaction.

If you do not interact, you will not learn and you will fall behind. We are all teachers here!

[2015-04-02 13:41] gyaresu opened #103 "Chat forum and repo layout"
Hi Eran
What do you think about enabling [Gitter](https://gitter.im/) for the repo?

It's not Freenode but it does cater to new programmers in its simplicity. (Or is that just because GUI IRC clients have sucked for too long? Which certainly helped drive the uptake of Slack...)

Also. What are your preferences on the layout of the site to enable new people to start from Assignment 1?

Some of the

[2015-04-02 14:48] AdriVanHoudt commented on #103
:+1: on the gitter and adding lessons learnt to the wiki

[2015-04-02 14:48] AdriVanHoudt commented on #103
@gyaresu btw you can do these things on your own so no actual need to ask Eran ;)

[2015-04-02 15:00] anthonyringoet commented on #103
:+1:

[2015-04-02 15:06] gyaresu commented on #103
@AdriVanHoudt Gitter's documentation leaves a lot to be desired but I think only a repo owner can create the room.

[2015-04-02 15:12] AdriVanHoudt commented on #103
@gyaresu you're right :D oops

[2015-04-02 15:19] lvegerano commented on #103
:+1:

[2015-04-03 05:01] zoe-1 commented on #79
Just made a document called wiki plan.  Hope it sparks some good conversation and planning :-)
https://github.com/hueniverse/hueniversity/wiki/99.3-Wiki-Plan

Additionally, started a section in the wiki called: FAQ and Important issues.
It contains new documents related to:
1)Makefiles and 2) Modules and Singleton Pattern.
https://github.com/hueniverse/hueniversity/wiki/99-FAQ

Please take a look.

[2015-04-03 07:09] AdriVanHoudt commented on #79
@zoe-1 nice work :+1: , I think the wiki needs it's own issue to discuss things, right now anyone can edit and there is no real feedback system on it :/ maybe even worth it to make a separate repo or something for it

[2015-04-03 10:38] zoe-1 opened #105 "Wiki Discussion"
How do we develop and manage the wiki?

As @AdriVanHoudt mentioned,
<pre>
    I think the wiki needs it's own issue to discuss things, right now anyone can edit
    and there is no real feedback system on it :/
</pre>

I wrote a document describing my thoughts in a gist document.
https://gist.github.com/zoe-1/a1052051d49fb5bd88c2
What are your thoughts?

[2015-04-03 10:45] zoe-1 commented on #79
@AdriVanHoudt just made an issue for the wiki.

[2015-04-03 11:38] AdriVanHoudt commented on #105
1. I think there should only be a solution for past assignments. The point is to learn from other's PR's and comments and discussions.
2. While the assignment is ongoing it would be nice to have a few 'whatch out for these' to catch the most common mistakes
3. The wiki should be linked in the readme and preferably in the assignment(so it doesn't get lost somewhere)
4. There needs to be a standard

[2015-04-03 13:08] gyaresu commented on #105
1. The repo that gets merged will be the solution(?)
2. Encourage people to "Put that in the Wiki" based on Gitter/Freenode chats and in-line code comments(?)
3. Agree. Wiki's bi-rot very quickly.
4. Agree.
 - We **_REALLY_** an informal chat spot. @zoe-1 is editing the wiki as I type and I thought I killed a whole bunch of pages by fixing the numbered list! :wrench:

[2015-04-03 13:33] gyaresu commented on #105
#### Projects with great wiki's
https://github.com/showcases/projects-with-great-wikis

[2015-04-03 14:03] zoe-1 commented on #105
@AdriVanHoudt  and @gyaresu thank you for your feedback.

In respect to @AdriVanHoudt point 1,  I agree.
As a result, I removed the FAQ stuff and put that info on gist, and put links to the gist write ups
in the Assignment3 wiki.  The focus of the wiki should be about the assignments.

In respect to @AdriVanHoudt  point2, yeah good idea.

In respect to @AdriVanHoudt  point 3, agree.

@AdriVanHoudt

[2015-04-03 14:11] gyaresu commented on #105
I just looked at adding the sidebar to the wiki here but it seem to be an owner-only thing.

And it's a lot easier to edit locally but then I can't push to the wiki repo.

It seems to be a 'thing' so now I'm wondering if creating a submodule and doing a pull request is the best way to do it.

I'd much rather just have \[[Page Names\]] in the "Pages" menu and the sidebar as the main menu.

https://

[2015-04-03 14:12] zoe-1 commented on #105
@gyaresu I agree with you the sidebar https://github.com/guard/guard/wiki is really nice.

@gyaresu in respect to a informal chat spot.
Possibly we could we just use the hapijs channel on Freenode for chatting? How would Eran feel about that? It could provide advertising for hueniversity if we chat on an already existing channel like hapijs. However, it could disrupt the hapijs channel but every t

[2015-04-03 14:25] gyaresu commented on #105
@zoe-1 I'm personally fine with using #hapi on Freenode.
The other option is: https://gitter.im/hapijs/hapi because it may contain less trolls?
They have an IRC gateway also: https://irc.gitter.im

(Part of me is really against moving away from Freenode though as it's been home for so long)

[2015-04-03 14:28] zoe-1 commented on #105
@gyaresu There is one important benefit to not using an informal chat spot.
When we do not use an informal chat spot other people can come later, read our posts, and learn
from our discussion.

For example, your PR has 65 posts on it right now. Your post is where all the action is :-)
Last night, I read almost all of them.  I learned from the posts.  Your reposted a link https://gist.github.com/hu

[2015-04-03 14:29] zoe-1 commented on #103
@gyaresu in respect to a informal chat spot.
Possibly we could we just use the hapijs channel on Freenode for chatting? How would Eran feel about that? It could provide advertising for hueniversity if we chat on an already existing channel like hapijs. However, it could disrupt the hapijs channel but every time I am logged into the channel it does not seem like their is a lot of activity.

[2015-04-03 14:30] zoe-1 commented on #103
@gyaresu There is one important benefit to not using an informal chat spot.
When we do not use an informal chat spot other people can come later, read our posts, and learn
from our discussion.

For example, your PR has 65 posts on it right now. Your post is where all the action is :-)
Last night, I read almost all of them.  I learned from the posts.  Your reposted a link https://gist.github.com/hu

[2015-04-03 14:32] zoe-1 commented on #105
@gyaresu I moved the chatroom comments to your chatroom forum issue.
Could you move your's to there too.  That way we can keep this issue focused on the wiki.
Thanks ;-)

[2015-04-03 14:36] gyaresu opened #106 "Create a sidebar for the wiki"
We would like to organise a wiki sidebar menu structure similar to [Guard wiki](https://github.com/guard/guard/wiki) but only the project owner can create it.

Github Docs: [Wiki / Creating a sidebar](https://help.github.com/articles/creating-a-sidebar/)

[2015-04-03 14:42] gyaresu commented on #105
@zoe-1 Great. Good to stay on topic.

[2015-04-03 15:03] gyaresu commented on #103
@zoe-1 I was like "65 Whaaat?" but you're right, there's some good advice in there.

Someone might even have some advice on a better way to access them from the awkward layout of  "Show outdated diff"

So I think I'm agreeing with you. We just need to link them in the wiki.

**Note**
Gitter does have archives but they don't _yet_ seem searchable.
If there was a better level of integration and the

[2015-04-03 15:34] zoe-1 commented on #105
Just started a wiki style guide: https://github.com/hueniverse/hueniversity/wiki/Wiki-Style-Guide
This is a working document based on discussion made here in this issue.
Please check it out.  Hopefully, it will cause more discussion and help us develop a solid style guide.

[2015-04-03 15:56] zoe-1 commented on #105
I would like this wiki not just be a resource for us but also a resource for people who discover hueniversity months later.  I hope it will be a place others can come and be guided through studying
all assignments of hueniversity at their own pace.

For example, a person could read the objectives of any assignment and decide if they want to study it.
Then, they would then be shown what commit to c

[2015-04-03 19:31] EvanMarkHopkins commented on #105
this repo has a guides folder, could recaps go there as well?

[2015-04-04 03:49] zoe-1 commented on #79
Wrote a short explanation of how assignment3 used the singleton objects made with node's required modules. This concept is essential to understand how to avoid exporting values just to pass tests.
See:  https://gist.github.com/zoe-1/d5465682428edc583ccc

Plus, wrote an explanation of why we want to use a Makefile.
https://gist.github.com/zoe-1/784100440f0cf2299010
Hope these help.

[2015-04-04 05:16] EvanMarkHopkins commented on #79
I don't think the purpose of a makefile, at least in the context of **this assignment**, was to create an alias to npm commands; We were also asked to use the *standard hapi makefile*, which is pretty specific, and we probably shouldn't go changing its behavior entirely. That being said, you're doing a lot of great work!

[2015-04-04 05:22] EvanMarkHopkins commented on #79
Sorry, not entirely changing its behavior, but it certainly seems like it's sidestepping a little. Also, I think the article on singletons is very valuable information, thank you ^_^

[2015-04-05 03:45] zoe-1 commented on #79
@EvanMarkHopkins thank you for your kind words :-)

In respect to the Makefile, like you said, hopefully @hueniverse  will explain why he wants it in the project.  Personally, I view it as a convenience for abbreviating commands frequently used. Based on the following hapijs issues https://github.com/hapijs/contrib/issues/14 and
https://github.com/hapijs/lab/issues/284, it seems that @hueniverse i

[2015-04-05 04:14] EvanMarkHopkins commented on #79
Okay, I just found it really bizarre. Nothing about it really suggested a preference for interfacing with Make directly over npm, it just seemed like a valid way to organize things. I'm all for removing it. I can see this causing unnecessary confusion.

[2015-04-05 22:28] hueniverse opened #110 "Spring Break"
School will be back in session 4/14.

[2015-04-05 22:48] chyld commented on #110
Enjoy spring break :tada:

[2015-04-08 17:46] gyaresu commented on #110
:+1:  Thanks for the heads up!

[2015-04-10 16:49] tielur opened #111 "Starting late"
I just found hueniveristy, is it too late to start joining in on the learning?

[2015-04-10 23:13] zoe-1 commented on #111
It should be fine to start now.
Read the git guide https://github.com/hueniverse/hueniversity/blob/master/guides/git.md
to make sure your fork matches the current master.
Try to complete assignment 3 by 4/14 when we are due to start the next assignment.
When your assignment is ready make a pull request (PR) to submit your assignment.
Others will critique your assignment after it has been submitted

[2015-04-11 00:00] tielur commented on #111
@zoe-1 thanks for the help!

[2015-04-12 00:17] #111 closed

[2015-04-13 08:27] AdriVanHoudt commented on #106
:+1:

[2015-04-13 17:39] Alayode opened #114 "Beginners Prerequisite exam (puzzle?)"
I think it is great if you guys gave some sort of challenge question to help people know what they should know before spending time on this project. I would like to send this to some students of mine but with everyone with varying levels of skill it might not be a good idea. A simple explanation would suffice so I can properly instruct my class on whats expected of them.

[2015-04-13 17:50] TheAlphaNerd commented on #114
It is my impression that this course is meant for everyone. Now I would
imagine there is a hard prerequisite in being able to set up a node
environment, and be able to write some basic Javascript. Basics in git are
also necessary to submit work.

Nodeschool.io would be a good place to get started with the basics of js /
node.

If people have questions they should just make an issue, there are quit

[2015-04-13 17:52] AdriVanHoudt commented on #114
I agree with @TheAlphaNerd, basic knowledge of Js and Node is required and maybe how restfull api's work. And like @TheAlphaNerd said, we are here to help (issue here or on the gitter/irc)

[2015-04-14 17:27] gyaresu commented on #114
I'd also recommend http://www.freecodecamp.com/ for a place to start learning.
It taps into much of the material available online and is a really good community space.

They have a Slack channel, live coding on Twitch.tv and a clear linear "do all these things" approach to get people up and running with programming in Javascript.

I think this experiment is geared at people who have the basics and

[2015-04-14 17:28] hueniverse commented on #114
The comments above are correct. There isn't anything specific you need to know or be at a particular level. The idea is that you pick the assignments you want to work on based on what you already know and what you want to learn.

[2015-04-14 17:28] #114 closed

[2015-04-14 17:30] hueniverse commented on #106
If someone posts the content I'll create it. Can others edit it after it is created?

[2015-04-14 17:31] hueniverse commented on #111
You can start at any time. You should do all the assignments in order and then check the results and comments to compare to your work. Or just read the code accepted and learn from that to catch up. Welcome!

[2015-04-14 17:34] hueniverse commented on #103
Gitter room created.

[2015-04-14 17:35] gyaresu commented on #106
It looks like it.
https://github.com/guard/guard/wiki/_Sidebar/_edit

I was even trying to pull a wiki (it's separate apparently) and PR back that way. No joy.

So if it's created I think we can sort it from there.

I had some ideas for layout but even a simple one will let us collab on it.

(code for me being busy for the next couple of hours. If no-one else responds I'll throw something together

[2015-04-14 17:37] hueniverse commented on #79
Re: makefile - I wanted people to see the two options of setting command shotcuts with npm and make. hapi uses both and the trend is to move away from the makefile and only use npm shortcuts. But I find it useful to have both so that you can see how it's done but also able to find your way around other projects that use either option.

[2015-04-14 17:38] #110 closed

[2015-04-14 17:39] hueniverse commented on #106
Done.

[2015-04-14 17:39] #106 closed

[2015-04-14 17:39] TheAlphaNerd commented on #110
Welcome back!!!

[2015-04-15 07:07] AdriVanHoudt commented on #79
@hueniverse thanks for the reaction. I see the purpose of learning to use both but it's ok to let the makefile point to npm in this case right?

[2015-04-15 20:35] hueniverse commented on #79
General comments:
- When monkey patching code in a test, mark that test with the `{ parallel: false }` lab option to make it both safe for future parallel testing as well as visual cue.
- Never return anything other than an actual `Error` as an error (e.g. no strings, plain objects, etc.).
- Never use fixed port numbers in tests, only `0` or the default.
- Always `return` before `next()` unless th

[2015-04-15 20:36] gyaresu commented on #79
:+1:

[2015-04-15 20:51] TheAlphaNerd commented on #79
thanks for taking the time!

[2015-04-15 21:01] zoe-1 commented on #79
Thanks for the feedback :-)

[2015-04-15 21:15] gyaresu commented on #79
* Can someone provide an example of the monkey patching that might lead to switching off parallel tests? I don't think I was doing that.
 * Only return `err` :ok:
 * Using `.equal(8000)` in tests. :ok: (I think)
 * Returning the next function: `return next()` :ok:
 * `exports.init = function (port, next) {` <= That init? from index.js
 * Pass the path string: `server.inject('/version', function(re

[2015-04-15 21:31] zoe-1 commented on #79
@gyaresu

lab docs show how to include the parallel option.
<pre>
lab.test('returns true when 1 + 1 equals 2', { parallel: true }, function (done) {

        Code.expect(1+1).to.equal(2);
        done();
 });
</pre>
source: https://github.com/hapijs/lab
Got the above from the documentation.  Yeah, I did not include it either.

I believe monkey patching would be where we changed the default values

[2015-04-15 23:14] tielur commented on #79
Is that just the Makefile used in the hapi project?

[2015-04-15 23:17] gyaresu commented on #79
@tielur I think it refers to the names you give `lab` and `code` methods.
i.e.
[code]

[2015-04-15 23:29] tielur commented on #79
@gyaresu ahh ok that makes sense. Thanks!

[2015-04-15 23:53] gyaresu commented on #79
@tielur I just grabbed your code to have a look and the `npm test` doesn't print out the tests. Mine did that originally and I'm just looking for the advice somewhere in my PR's. (Will update when I find it but thought you'd be interested as we use different tests)

![screenshot 2015-04-15 16 48 39](https://cloud.githubusercontent.com/assets/29263/7171636/e2f6abda-e38f-11e4-9b51-ccf30322f0ea.png)

[2015-04-16 00:03] zoe-1 commented on #79
@hueniverse commented:
<pre>
Some of you missed the change in the assignment to make both arguments in init() required.
</pre>
I am assuming he wants the parameters in init() to be validated.
Mainly, just test that a valid port was submitted.
How is everyone else interpreting this?

[2015-04-16 00:12] hueniverse commented on #79
The original assignment had the port as optional which meant you had to check if the first argument was a number or a function. This was removed but not everyone got the memo.

[2015-04-16 00:14] zoe-1 commented on #79
Ok. got it.
I made tests for the port again.  Will go remove them.

[2015-04-16 00:16] tielur commented on #79
@gyaresu it's the `-v` option that you have for lab. It does the verbose test output.

[2015-04-16 00:37] gyaresu commented on #79
@tielur Sweet. Thanks.

[2015-04-16 07:15] roelof1967 commented on #79
I have a error that I cannot solve.,
I deleted this part :

[code]

and changed it to :

[code]

but now on every test I see a error message that port must be a string, a number.
How to solve this ?

My code can be found here : https://github.com/roelof1967/hueniversity

[2015-04-16 07:40] EvanMarkHopkins commented on #79
@roelof1967 you have tests that are omitting the port

[2015-04-16 08:32] roelof1967 commented on #79
Thanks, it worked now without any problem. A new PR is submitted already

[2015-04-16 12:04] AdriVanHoudt commented on #79
@hueniverse is it beneficial to add `return` before the `done()` calls in every test? I'm not sure if it adds readability. Although I'm personally a fan of it.

[2015-04-19 08:39] hueniverse commented on #79
@AdriVanHoudt Nah.

[2015-04-19 08:45] #79 closed

[2015-04-19 08:45] #103 closed

[2015-04-19 08:45] #105 closed

[2015-04-19 09:00] AdriVanHoudt commented on #79
@hueniverse could you go into why you choose that PR to merge? Also there is now no way for me t run the tests on my windows :neutral_face:

[2015-04-19 09:04] simon-p-r commented on #79
You can install make on Windows, I use https://github.com/lukesampson/scoop which is very good for Windows users.

On 19 Apr 2015 10:00 am, AdriVanHoudt <notifications@github.com> wrote:

@hueniverse<https://github.com/hueniverse> could you go into why you choose that PR to merge? Also there is now no way for me t run the tests on my windows [:neutral_face:]

—
Reply to this email directly or view

[2015-04-19 20:10] tielur opened #116 "Parallel test execution"
Shouldn't the parallel option set [here](https://github.com/hueniverse/hueniversity/blob/master/test/index.js#L41) be false? Lab's default for parallel execution seems to be false but I think the point was to explicitly mark this one as basically not safe for parallel execution if we change the default for the tests to parallel in the future.

As noted [here](https://github.com/hueniverse/hueniver

[2015-04-20 06:39] #116 closed

[2015-04-20 06:40] hueniverse commented on #116
Yep. I got distracted with other things after I merged it. Master should be up to date now.

[2015-04-20 06:47] hueniverse opened #118 "Basic authentication"
Using the `hapi-auth-basic` plugin, add a new `/private` endpoint protected by a username and password that returns a simple HTML page with a welcome message. The welcome message should include the logged in username. Do not use any templates (views) at this stage. For username/password validation, create a static `lib/users.json` file (we will replace this in the near future) that contains a few

[2015-04-20 06:55] AdriVanHoudt commented on #118
Do you want to have the passwords encrypted with something like bcrypt or just plain text for now?

[2015-04-20 07:07] AdriVanHoudt commented on #118
For all of those getting ready for this. Read the comments on the cleanup commit first as to why some things have changed! https://github.com/hueniverse/hueniversity/commit/13b9f07922ab36fe4dde0479638d79baf6f099e5

[2015-04-20 07:13] hueniverse commented on #118
No need to encrypt the passwords. This is just a quick step before we do something else.

[2015-04-20 07:18] AdriVanHoudt commented on #118
:+1:

[2015-04-20 07:52] roelof1967 commented on #118
First question.

I have this according to the tutorial on the hapi page :

[code]

I think server is the same as the this line in index.js : server = new Hapi.server().
How can I say that they are the same. I do not think its wise to make a new server object for this ?

[2015-04-20 07:54] AdriVanHoudt commented on #118
Make a new plugin (like Version) and use the server object you get there

[2015-04-20 07:57] roelof1967 commented on #118
I did make a new plugin. You mean something like  this : exports.register = function (server, options, next) {

[2015-04-20 08:15] AdriVanHoudt commented on #118
yeah, you can use the server object you get there to register the Basic Auth strategy

[2015-04-20 09:48] AdriVanHoudt commented on #118
Sorry for all the references, I was messin up my rebases :grimacing:

[2015-04-20 11:59] roelof1967 commented on #118
Second question.

I rewrote index.js to this so it's register more then 1 plugin.

[code]

but on testing and running I see this error message :

Error: Cannot find module 'Version'

What did I have done wrong ?

[2015-04-20 12:02] AdriVanHoudt commented on #118
No need to make it so complex, just build on the existing code. You can pass an array of objects into `register` meaning if your options are empty you can just pass in the module. Also you are requiring the plugins twice. Once on top and then again in the register function. The ones on top are the right ones.

[2015-04-20 12:05] hussainanjar commented on #118
No need to `require` dependencies twice, pass the variable names in register function as array.

[code]

[2015-04-20 12:09] roelof1967 commented on #118
When I do what hussainanjr says I see this error message :

Invalid plugin object - invalid or missing register function attributes property (1)

[2015-04-20 12:17] hussainanjar commented on #118
@roelof1967 does you authentication plugin follow similar guide line to version plugin ?

[2015-04-20 12:18] roelof1967 commented on #118
Yes, I will make my whole code visible on my github page in a second.

[2015-04-20 12:27] roelof1967 commented on #118
and when I do npm start I see this error message :

[code]

[2015-04-20 12:38] FennNaten commented on #118
@roelof1967 Hi, from what I see on your repo, your export.register.attributes object is empty and defined inside of the export.register instead of after it.
I think you should move it out and add a 'name' property in it (see version.js)

[2015-04-20 12:49] roelof1967 commented on #118
Thanks,  I changed it and now I see this error message :  Timed out (2000ms) -  starts server and returns hapi server object

[2015-04-20 16:03] roelof1967 commented on #118
found it. It was a missing return next() on the new plugin.

[2015-04-20 19:11] roelof1967 commented on #118
New problem :
I now see this error : Debug: internal, implementation, error
    ReferenceError: Uncaught error: users is not defined

on this code :  https://github.com/roelof1967/hueniversity/blob/master/test/authentication.js

[2015-04-21 13:13] roelof1967 commented on #118
also solved. I have forgotten to do something when a user is valid, PR is already ready

[2015-05-04 07:50] hueniverse commented on #118
Life has been pretty busy lately (selling house, starting a few new projects) and as you can see this project (along with many others) suffered from it. I intent to finish reviewing assignment 4 this week and post one more assignment before taking a break for a bit. If anyone wants to take lead on this and write some more assignments (I am happy to review it and the expected responses to keep thin

[2015-05-04 08:09] AdriVanHoudt commented on #118
That is both great and sad to hear. I wish you all the success with the new projects and selling the house! I hope to see something cool again in the near future from you. As for hueniversity, it's sad because I really feel this is something really great and useful to learn from. If I had enough experience with node and hapi I would consider taking this up but I don't feel I'm the man for the job.

[2015-05-04 17:25] zoe-1 commented on #118
@hueniverse @AdriVanHoudt and community.  I am willing to write assignments for hueniversity.
I have been writing a hapijs tutorial so we could just use what I developed so far as a road map for future assignments.  To see the tutorial's learning objectives please refer to:
https://github.com/zoe-1/hapitimes
This gives a big picture overview of where I think a hapijs application tutorial should go

[2015-05-04 17:28] rutaihwa commented on #118
@zoe-1 @AdriVanHoudt @hueniverse :+1:

[2015-05-04 17:43] AdriVanHoudt commented on #118
@zoe-1 I really like the community approach and as I said, I'm willing to
help as good as I can!
I think if some people (like Zoe proposed) come together and make up a
'course' that @hueniverse can verify and we make a solution that he can
verify,  we can verify the pr's from others and make something nice.
And just as a personal opinion, I think we should move the wiki to a
report. Mainly for con

[2015-05-05 06:19] hussainanjar commented on #118
I'm still new to JS world but I'm willing to participate as much as possible @zoe-1 @AdriVanHoudt  :+1:

[2015-05-05 06:38] hueniverse commented on #118
@zoe-1 happy to move this project over to the hapijs org and add some maintainers. Should we give it a new name?

[2015-05-05 07:08] hussainanjar commented on #118
@hueniverse I would suggest **hapiuniversity** as a new name

[2015-05-05 07:47] AdriVanHoudt commented on #118
Moving this under the hapijs org makes sense. What about makemehapi?
New name can be nice although I like hueniversity but that probably doesn't make sense for new people. Maybe Hapiversity? Or Hapi School (like nodeschool) or something.
Also maybe move this topic to hapijs/contrib so we can start a discussion about how we are going to do this. And I don't know who conrols the hapi twitter account

[2015-05-05 07:51] idanwe commented on #118
@hueniverse and all the contributors thanks for this amazing experience, I learned a lot from it about how hapijs application should be built.

I think it is very important to continue to advance the project, as it is a great way to learn and teach.
@zoe-1 and @AdriVanHoudt  I will be glad to help with the assignments.

[2015-05-05 23:57] zoe-1 commented on #118
@hueniverse and community, I think moving the project to hapijs is a great idea :-)
and I am willing to help maintain it if @hueniverse finds it helpful.

#### End Goal
If we focus on the learning objectives described in https://github.com/zoe-1/hapitimes,  together we will build boilerplate code for a hapijs web server reviewed and approved by @hueniverse.
New comers to node.js and hapijs will be

[2015-05-06 05:24] rutaihwa commented on #118
@zoe-1 and whole community, thanks all these thoughts! I think Hapi is a great framework and Hapi community is really awesome. And this project has been great, I am learning a lot. We have to keep it alive. Despite not being highly experienced, I will try to contribute with what I can!

[2015-05-06 07:43] AdriVanHoudt commented on #118
I like the end goal although I want to hear what the plan from @hueniverse was as to what kind of application he had in mind/goals.

I like the idea of splitting up the assignments in branches, this will allow us to easily extract a tutorial with the solution for every assignment.

As for the name please don't take anything generic like 'tutorial' or something. It doesn't stand out. Something like

[2015-05-06 09:41] FennNaten commented on #118
Hi there,
I cannot participate in this discussion as I'd like to, I'm currently travelling a bit, but I'd like to follow along with this project. Finding a maintainer and moving it to hapi org would be a good thing IMHO, and if help is needed, I'd be happy to be in.

[2015-05-06 19:47] mikejerome commented on #118
I will certainly participate as a student. Would it be possible to add something like role-based authorization as a learning point? By that I mean restricting access to certain routes to certain roles/users. For example only admins could POST to /users or something.

[2015-05-07 04:35] zoe-1 commented on #118
@AdriVanHoudt I appreciate your perspective and feedback :-)
Below are my responses to your discussion points:

In respect to the name, I understand you thoughts.  I was thinking the name should represent what the project is about after it is completed.  So, having "tutorial" in the name would do this.  But, something funny or catchy may work too.  Do you have a better suggestion?  I do not like s

[2015-05-07 08:21] AdriVanHoudt commented on #118
Why not? Nodeschool also is a thing.
And yeah I really think the website is needed, since Hapi is not as popular as Express for example their are almost no tutorials out there.
I agree that we should put in the effort to make sure the project can exist without Eran in the long run. Also I am in favour of making sure that the PR that is accepted fully covers the assignment and should not require cl

[2015-05-07 12:22] roelof1967 commented on #118
I like to the idea but I think it's better I use it as student so I can learn much more about hapi

[2015-05-09 13:33] idanwe commented on #118
@AdriVanHoudt I support your opinion about the name. In addition, I prefer University, to stay close as much to the current name. Especially when it will be under the hapijs org, and we may create a tutorial or an app example from this course.

I think that creating a tutorial is a great idea too, and it would be nice if we created it __as an application__, for example an email server.

 Lately, a

[2015-05-12 06:08] hueniverse commented on #118
Overall this was very well done by everyone!

One comment:
- When creating a user JSON file, avoid repeating data (e.g. the key and username field). Set the username in code to remove the need to duplicate data in the file and create potential inconsistencies.

[2015-05-12 06:08] #118 closed

[2015-05-19 04:02] zoe-1 opened #132 "Potential [Assignment 5] Glue and HTML views"
@hueniverse and community, below is a potential assignment to keep the project moving.
@hueniverse Hopefully, you will find this acceptable.  Your feedback would be appreciated.
This should build off previous assignments and move us one step forward to master the learning objectives described at: https://github.com/zoe-1/hapitimes.

Community your feedback would be appreciated too.

#### [Assignme

[2015-05-19 04:15] zoe-1 commented on #132
If we want to simplify the assignment, we could split it into two.
One assignment would be creating a plugin that renders html templates.
The other assignment would be adding Glue support.  But, I think everyone can accomplish the above objectives :-)

[2015-05-19 07:59] AdriVanHoudt commented on #132
I can see the follow up with glue but I don't think rendering views is.
Moving the registration of hapi-auth-basic out of private doesn't make sense, you're changing the architecture of the server just to use glue, you can just load private.js with glue and let it still register hapi-auth-basic. It's the responsibility of the private plugin to register it, no need to change that.
Also I would real

[2015-05-19 17:16] zoe-1 commented on #132
@AdriVanHoudt thanks for the input.

End Goal: Is to build an application that has the following features:
* A public page(s) accessible to all.
* Route(s) with restricted access. Only authenticated users with correct permissions will have access to restricted routes.
* Sessions support using "a simple cookie-based session management. The user has to be authenticated with a web form, and upon succ

[2015-05-19 18:39] AdriVanHoudt commented on #132
First of all, wow :D
Second I like the proposal for the end goal, seems pretty easy (as to complexity of business logic) and allows us to make use of all the hapi features (for as far as I know them)
Third, I do not agree with you on your reasoning behind separation of logic, my reasoning is also based on it but results in something different. Private.js is not just for route handling, it deals wi

[2015-05-20 00:25] FennNaten commented on #132
@zoe-1 Nice work, looks like a very good roadmap for a start!

TLS, definitely must have.

I like the idea of composing the app with glue, I'm currently using it on a project at work and I'm sold on configuration-centric apps anyway. And it has some small gotchas, so it would be nice to provide in this project an example of how to handle them. This way of bootstrapping an app may not be appreciate

[2015-05-20 07:59] AdriVanHoudt commented on #132
Indeed there is no silver bullet but in our case I tend to lean towards keeping it in the plugin, for my daytime job I work alone on a server so in that case it doesn't really matter.

* caching is definitely something we should add
* role based is, like user management, mostly app specific but I could get behind it if it lays out some form of special Hapi usage
* Lout would indeed be handy
* envi

[2015-05-20 16:18] zoe-1 commented on #132
@AdriVanHoudt and @FennNaten Thank you for sharing your feedback!  It feels like we are beginning to get a good sense of where our project needs to go. :-)

In respect to building a tutorial website, I like the idea and hope we will do it.
I wonder what @hueniverse thinks about it?

In respect to glue and the position of auth plugin(s) registration, there are two existing projects that provide exa

[2015-05-20 16:26] AdriVanHoudt commented on #132
Well those 2 projects need the auth in multiple plugins, so then it makes sense to take it out, in our case the auth is only needed in the routes of private.

And yeah we need to come up with something that makes sense in the end and incorporates all the ideas ^^

[2015-05-20 20:19] hueniverse opened #133 "Moveing to hapijs"
I moved the project to the hapijs organization, renamed it `university` and added [Zoe](https://github.com/zoe-1) as maintainer. I'll let him take it on from here.

@zoe-1 you might want to add a full name to your profile and to the Readme as I find it makes it easier for people to engage and relate to others.

Go ahead and get another assignment going...!

[2015-05-20 21:34] AdriVanHoudt commented on #133
s/moveing/moving in title

Also do you have any remarks on the discussions or is this the "official give over to the community"?

@zoe-1 I also think having some form of identification helps
And maybe start with a side repo to start drafting assignments and solutions?

[2015-05-21 03:16] zoe-1 commented on #133
@hueniverse  Thank you for opportunity to maintain this project.
I will fill out my profile and start working on a new assignment tomorrow :-)
By the way, I am a male.
Cheers!

@AdriVanHoudt Good suggestion about the side repo.
I just drove 6 hours from VA Beach to Pennsylvania.  So, my mind is not super clear right now.
Let's put more thought into this tomorrow.

[2015-05-21 05:21] hueniverse commented on #133
@zoe-1 Zoe is my daughter's name :-)

[2015-05-21 09:50] AdriVanHoudt commented on #133
@zoe-1 hmm yes drafting the assignment in here could work, drafting the solution, as talked about before, not so much, people need to learn from other's PRs not a given solution imo

[2015-05-21 21:59] idanwe commented on #132
@zoe-1 Good lack with taking that project forward, I'm here to help too.

@AdriVanHoudt I also think that currently the `hapi-auth-basic` should be registered inside `Private` due that it is only used there.

About the next assignments, I would like to see `glue` plugin integration in a more advanced assignment.
I think there is more fundamental issues that we didn't cover yet.
In my opinion the n

[2015-05-22 03:17] zoe-1 commented on #132
@idanwe  Good thoughts above :-) Glad you want to help.
 Your thoughts about the assignments would be good to do and are needed but most of those issues will be addressed in the next phase. The current development goal described above is very hapijs centric and illustrates basic components needed to build an application with hapi regardless of database.  After we achieve that goal it would be a lo

[2015-05-22 07:23] AdriVanHoudt commented on #132
@idanwe has a fair point, I have a server with 10 plugins atm (should be more but I didn't have a tutorial to learn from ;) ) and it's fine without glue. Glue would indeed work better for more complex configurations. And good point that db can also incorporate schema validation!

@zoe-1 I do not agree with your 'main reason' of this project. My thought was that this was a way of learning Hapi. I s

[2015-05-22 20:22] zoe-1 opened #135 "Need new logo"
Project needs a logo.
images/logo.png needs to be changed to "hapijs university"  from "hueniversity".
Be creative but keep the hapijs space cadet hat in the logo.

[2015-05-22 22:15] zoe-1 opened #136 "Glue and HTML views"
#### We transitioned to hapijs university.

For details about this change see: <br/>
* New [README](https://github.com/hapijs/university) for explanation of changes.
* [This Discussion] (https://github.com/hapijs/university/issues/132). To see current thoughts about project direction.
* And this [Documentation](https://github.com/hapijs/university/issues/133)

Let's keep our project going! This is

[2015-05-23 12:37] AdriVanHoudt commented on #135
I made the original, I'll see if I can easily change the name

[2015-05-23 12:38] AdriVanHoudt commented on #133
This issue can be closed since we've started going again also not sure who handles the twitter account for hapi but a shoutout might help increase the amount of participants @hueniverse ?

[2015-05-23 12:45] AdriVanHoudt commented on #132
@zoe-1 you are a diplomatic man ^^ I like how you suggested people could do the moving of the plugin as an extra exercise
A few thoughts on the assignment:
* Try to be as clear as possible
    * no indication of what the home plugin should give back
    * the 'in the end' part is not part of the assignment so if you really want to have it put at the end in some 'check' part or something
    * 100%

[2015-05-23 18:05] hussainanjar commented on #132
Hi @zoe-1 good job with new assignment and I like the roadmap, will be submitting a PR soon :+1:

[2015-05-23 21:48] zoe-1 commented on #135
@AdriVanHoudt Great :-)

[2015-05-23 21:50] zoe-1 commented on #132
@hussainanjar Glad you like the assignment.  Look forward to seeing your PR :-)

[2015-05-23 21:58] zoe-1 commented on #133
@AdriVanHoudt   Will close post soon.  Leaving latest issues up for a bit while we transition to new repo.  This will help people see the story behind the transition etc.  Holiday weekend started here so interaction will be minimal for next two days.

[2015-05-23 22:58] zoe-1 commented on #132
@AdriVanHoudt  and community, in response to @AdriVanHoudt  questions and recommendations, I edited the assignment to clarify things and answer the questions. Thank you @AdriVanHoudt  for the feedback!  It is always good to have another set of eyes look things over.

##### In response to, no indication of what the home plugin should give back:
 * The view directory should contain one html template

[2015-05-23 23:52] AdriVanHoudt commented on #132
Thanks for all the work @zoe-1
I think I wasn't to clear myself about the refactoring, I was talking about removing the makefile etc not about the auth plugin

[2015-05-24 00:11] FennNaten commented on #132
@zoe-1 Nice work with the assignment. I mostly agree with your points however I'd have two remarks:
- no due date ? ;)
- Glue has one shortcoming which is a bit unclear from its documentation and not obvious for people not really familiar with ECMAScript specs. Plugins are defined as an object, and glue iterate over the keys to register the plugins. But js spec doesn't garantee key order will be k

[2015-05-24 04:52] hussainanjar commented on #132
@AdriVanHoudt I think its better if I get to do the cleanup rather then someone doing on my behalf. It helps you learn best practices

[2015-05-24 09:54] roelof1967 commented on #136
First thanks that these lessons are back again.

Now the first question :

Are these (https://github.com/hapijs/glue/tree/master/test)  good examples how to test things with glue and lab. I have to rewrite all the former test now :(

Roelof

[2015-05-24 11:02] roelof1967 commented on #136
second question:

why can the plugin not be found here :

[code]

[2015-05-24 11:05] AdriVanHoudt commented on #132
Can't you pass an array to glue?
And ok I get behind that, although when we convert it to a website with
tutorials we need to shift those things :P

On Sun, 24 May 2015 06:52 Hussain Fakhruddin <notifications@github.com>
wrote:

[2015-05-24 11:36] roelof1967 commented on #136
I try to test if a server is started.

[2015-05-24 15:38] roelof1967 commented on #136
How do I start the server. Do I need to add the whole part after starting the server to start.js ?

[2015-05-24 15:45] roelof1967 commented on #136
no due date ??

[2015-05-24 16:02] FennNaten commented on #132
@AdriVanHoudt Nope, in its current state Glue won't take an array for plugins, it iterates over them using directly Object.keys on the property and using each key to resolve the plugin.

[2015-05-24 17:08] FennNaten commented on #136
@roelof1967 For the test examples, you'd better go to a repo utilizing glue rather than the Glue repo itself. See e.g. [aqua](https://github.com/jedireza/aqua)

In the plugins object of the manifest, each key should be the name of the target module if it's a npm module, or the relative path to it if the module is internal to the app. That's how Glue requires them before calling register.
e.g.
[cod

[2015-05-24 17:22] roelof1967 commented on #136
oke, so I schould not use the whole export.compose thing of the example which were pointed for a example manifest ?

[2015-05-24 17:33] FennNaten commented on #136
The example pointed at was more for the format of the manifest. The export.compose is the actual compose function you use from Glue (and you'll have to use it). You can check at the index.js and server.js from [aqua] (https://github.com/jedireza/aqua) for something closer to what we aime for.

[2015-05-24 17:35] roelof1967 commented on #136
oke, I have now this :  https://github.com/roelof1967/university and still not working :(

[2015-05-24 17:39] zoe-1 commented on #132
@AdriVanHoudt In respect to the make file, I put the refactor in the assignment so everyone would see that hapijs style requirements were modified for the whole hapijs community.

@FennNaten in respect to your question about Glue and the order of plugins being registered, based upon my experience and testing Glue registers the plugins in the order you place them in the manifest file.  If you put t

[2015-05-24 17:47] FennNaten commented on #136
@roelof1967 I made a quick example with server starting via npm start and plugin functionality kept (tests not updated yet). You may check lib/index.js and lib/start.js on this branch https://github.com/FennNaten/hueniversity/tree/assignment/glue-and-html-views if you're stuck.

[2015-05-24 17:54] roelof1967 commented on #136
@FennNaten  thanks, now the next problem. Making the test green

[2015-05-24 17:56] zoe-1 commented on #132
### Assignment Due May 30th.
@FennNaten thank you for the due date reminder :-)

[2015-05-24 18:01] zoe-1 commented on #136
@FennNaten Thank you for putting up the example :-)

[2015-05-24 18:06] FennNaten commented on #132
@zoe-1 : about the order of plugins registration, it's more of a remark than a question ;) Replication of the issue is hard to do, I won't say it's random because it's not really, but it depends on how V8 engine 'decides' to optimize the code being executed. Most of the time, object keys are kept in the order they're inserted, and everything is fine. However, this is not a fact to take for granted

[2015-05-24 19:17] roelof1967 commented on #136
I have this test :

[code]

But now I see this error message : function is not a object.

What went wrong this time ?

Roelof

[2015-05-24 20:11] roelof1967 commented on #136
and when I do this :

plugins: {
        './version': {},
        './private': {},
        './home': {},

    }

I get a message that private is already registered. There is something wrong with the home but I do not see it.

[2015-05-24 20:14] zoe-1 commented on #132
@FennNaten It seems @marsup refers to the solution to the plugin load order at: https://github.com/hapijs/glue/issues/19 (you referenced this issue above).  Looks like we need a JSON schema requiring dependecies to be loaded before plugins that depend on them are loaded.  Or, we need to declare dependencies the glue way.  But, I have never seen a real world example of glue doing this and the glue

[2015-05-24 20:29] FennNaten commented on #132
@zoe-1 Yes, that's what I was saying in my original remark ;)

However I still have to make tests to see what works and what doesn't. Was planning to do them while working on optional part on the assignment

[2015-05-24 20:59] zoe-1 commented on #132
@FennNaten Sometimes I have to read things a couple times before I actually read them LOL ;)

[2015-05-24 21:29] zoe-1 commented on #132
@FennNaten Got feedback from @Marsup on gitter.  He said to use:
http://hapijs.com/api#serverdependencydependencies-after logic on the plugins that have dependencies.
This will ensure all plugins are loaded with needed dependencies when composed by glue and avoids the order of plugin registration issue we have been talking about.  This should bullet proof the registration code :-)

[2015-05-24 21:57] FennNaten commented on #132
@zoe-1 I just added a home plugin and brought back 100% test coverage, I'll do some tests with dependencies while completing optional assignement, to be sure that works as expected.

Speaking of tests, in the assignment you say

Glue uses CPS and actually bubbles up registration errors, if we follow the same pattern we've been using (with index.js exposing an init method taking the manifest and op

[2015-05-24 22:32] zoe-1 commented on #132
@FennNaten In respect to your observations about Glue's CPS (Continual Passing Style), and registration errors, it would be great to have our project test the success or failure of plugins loading just as we did before.  Thank you for sharing your observations and knowledge. You are making the quality of our assignment improve! I look forward to seeing your PR.

[2015-05-25 00:53] FennNaten commented on #132
@zoe-1 You're welcome, I just try to do my part ;)

[2015-05-26 17:03] #135 closed

[2015-05-28 20:23] #133 closed

[2015-05-28 20:24] #132 closed

[2015-05-28 20:40] AdriVanHoudt commented on #132
@zoe-1 maybe start a thread about the next assignment? Also not much
activity? Maybe promote this by putting it on twitter and the website or
something?

On Thu, 28 May 2015 22:24 Jon Swenson <notifications@github.com> wrote:

[2015-05-28 20:52] zoe-1 commented on #132
@AdriVanHoudt good recommendations.
In respect, to promoting on twitter etc.
I believe @hueniverse manages all that.

[2015-05-29 00:12] hueniverse commented on #136
@roelof1967 it would probably be better for everyone if you keep the discussion about your own submission within your pull request. This is a lot of noise here which makes it hard for people to participate and keep track of what is going on. Also, a lot of this would be better done in the gitter room for this repo.

[2015-05-29 00:14] hueniverse commented on #132
A few people have access to the twitter account but if you just promote it on twitter and mention @hapijs I will retweet it. @arb and @geek also have access (and I'm happy to add more people if someone wants to help maintain it and keep the updates going without overdoing it).

[2015-05-29 05:14] AdriVanHoudt commented on #132
OK cool and I'll see where it can fit on the website

On Fri, 29 May 2015 02:14 Eran Hammer <notifications@github.com> wrote:

[2015-05-29 05:36] roelof1967 commented on #136
oke, I will do it that way

[2015-05-31 03:51] #136 closed

[2015-05-31 07:19] zoe-1 opened #142 "potential Assignment6"
Potential Road Map for Next  Assignment.
Please share your thoughts.

### Static Assets, Partials, and TLS

##### Configure the application to use TLS/SSL
  - Generate your own TLS/SSL certificate
  - Make "certs" directory in ./lib.
  - Place the certicate you generate into "certs" directory.

#####  Configure two server connections
 - One labelled ['web'] on port 8000 with no TLS configured.
 -

[2015-05-31 07:35] roelof1967 commented on #142
Nice assignment.

For me you can be the maintainer. That a lot of people do not give thier answers is not because of you.
The problem is that on the last assignments of hueniversity there were almost no feedback and it took ages for a new assignment was placed.

[2015-05-31 07:43] zoe-1 commented on #142
I am about to upload a clean up of the project.  Hold on a couple minutes before you
sync up to the remote master.

[2015-05-31 08:15] zoe-1 opened #143 "Travis build error and npm install failure"
After uploading edits to master.
Travis did not pass tests.
[code]
Based on error messages it looks like npm fails to install with iojs.
Looks like iojs is having issues. node.js tests pass.

[2015-05-31 08:20] zoe-1 commented on #143
Yes, it was iojs several minutes later re-ran test and they all passed.

[2015-05-31 08:32] zoe-1 commented on #143
3.09s$ nvm install iojs
######################################################################## 100.0%
WARNING: checksums are currently disabled for io.js
Now using io.js v2.2.0
$ node --version
v2.2.0
$ npm --version
2.11.0
$ nvm --version
0.23.3
5.37s$ npm install
npm ERR! Linux 3.13.0-40-generic
npm ERR! argv "/home/travis/.nvm/versions/io.js/v2.2.0/bin/iojs" "/home/travis/.nvm/versions/io.js/

[2015-05-31 11:17] hussainanjar commented on #142
Hi @zoe-1 I think you and @AdriVanHoudt are doing an awesome Job :+1: . I will continue to be part of this university and hope others join in too.

We need to market it more, may be using hapijs twitter account :smile:

[2015-05-31 14:07] AdriVanHoudt commented on #143
Io.js updated npm which has an SSL bug so that is breaking it, just wait on a patch from io.js and rerun the tests on io.js

[2015-05-31 15:50] FennNaten commented on #142
sync up to the remote master.

Yes, sorry, I didn't have the possibility to clean up the PR according to comments this week-end. I'm sick (nothing too bad, just enough to waste the week-end) and I have difficulties concentrating on code ^^'

Assignment looks fine for me. I'm for TLS everywhere.

About your note: I also find community learning to be very interesting, and I think you do a great job

[2015-05-31 17:37] AdriVanHoudt commented on #142
First of all I now what you mean @zoe-1 it's hard to replace someone as experienced as @hueniverse and I think part of the charm of hueniversity was that is was lead by the creator of, but I do think you are doing a fine job! But yeah having someone with proven experience helps. Also thanks @hussainanjar!

My thoughts on the assignment:
* Maybe start the discussion before merging the previous one

[2015-05-31 18:22] AdriVanHoudt commented on #143
to be more precise it was more of io.js's fault it seems see https://github.com/nodejs/io.js/issues/1850

[2015-05-31 18:48] zoe-1 commented on #143
Thanks @AdriVanHoudt good to know.

[2015-06-01 07:38] AdriVanHoudt commented on #143
looks like a new version is here, try rerunning the builds on travis

[2015-06-01 18:25] zoe-1 commented on #142
Thank you for your responses!

* In respect to, TLS everywhere.
  Yes, I agree. Will put in assignment.
* In respect to, Why not port 443?
  Ports below 1024 are "privileged ports".  Only root has access to
  run services or daemons to "privilege ports". So, when the proeject is in
  development state we do not use ports 80 (http) or 443 (https). When deploying the project
  port configs are chang

[2015-06-01 19:45] rutaihwa commented on #142
I got tied up with school work and side projects I missed the assignment 5.

[2015-06-01 20:01] roelof1967 commented on #142
rutaihwa ; no problem. school is very important too even as family

[2015-06-01 20:11] zoe-1 opened #144 "Static Assets, Partials, and TLS"
### Static Assets, Partials, and TLS

#### Configure the application to use TLS/SSL
- Generate your own TLS/SSL certificate
- Make "certs" directory in ./lib.
- Place the certificates you generate into "certs" directory.

#### Configure two server connections
 - One labelled ['web'] on port 8000 with no TLS configured.
 - The other labelled ['web-tls'] on port 8001 will use TLS.
      Configure th

[2015-06-01 20:12] zoe-1 commented on #142
@rutaihwa Glad you are back!

[2015-06-01 20:13] #142 closed

[2015-06-01 20:23] AdriVanHoudt commented on #142
Good point in the ports! Also if you still do a PR for previous assignments
I will still try to review them but ofc they won't get merged. And yeah the
moment the next assignment is there I'll tweet as well @adrivanhoudt_ and
again props for the work @zoe-1

On Mon, 1 Jun 2015 22:13 Jon Swenson <notifications@github.com> wrote:

[2015-06-01 20:25] zoe-1 commented on #144
### Promote hapijs / university on Twitter
Make tweets promoting hapijs / university with the @hapijs tag in the tweet. <br/> Then, @hueniverse can retweet them and get the word out.
I will promote too, my twitter account is jswenson74.

Cheers!

[2015-06-02 05:33] roelof1967 commented on #144
One question : on the home page , do we still have to display the path ?

[2015-06-02 07:48] AdriVanHoudt commented on #142
@zoe-1 can you set the due time of the milestone to the due date of the assignment?

[2015-06-03 00:05] zoe-1 commented on #144
@roelof1967  In respect to the path in the home page, it should be removed.
Forgot to mention that. Thanks.

[2015-06-03 02:02] zoe-1 commented on #142
@AdriVanHoudt Yes, the due date can be set in the milestone.
Assignment6's milestone has it set.

[2015-06-03 14:45] zoe-1 commented on #144
#### Tips for Assignment6

[code]

[code]

[code]
##### In assignment, forgot to mention that you can make a config.js file to use for loading tis certs
Above is to illustrate this.
<br/>
<br/>

[code]

[2015-06-03 20:02] roelof1967 commented on #144
I get a error message cannot call method of "replace" on udefined on the above test.
Anyone who knows a good tutorial for making the certificates. I only get a perm file instead of the key and crt file

[2015-06-03 21:53] zoe-1 commented on #143
travils fails on hapijs/university.  And, I do not know why?
<hr/>
[code]
<hr/>
It tried to:
git checkout -qf 99fed335520e9155e4a30c0c5cf5892174b652f3
and fails.  I search the repo and this commit id is not there.
I am not quite sure what is happening.  It could be a permssions issue because I pushed to the repo and I am not set up right with travis?  I am not quite. sure.

But, I think this relat

[2015-06-03 22:05] zoe-1 commented on #143
Note: I did not amend any commits after pushing them to remote origin.

[2015-06-03 22:11] nlf commented on #143
i restarted a different build for a commit that actually exists and this problem went away, you're all green again :+1: sometimes travis is just weird

[2015-06-03 22:14] zoe-1 commented on #143
@nlf Thanks!

[2015-06-03 22:14] #143 closed

[2015-06-04 02:50] zoe-1 commented on #144
@roelof1967 links to tutorials below:
https://www.digitalocean.com/community/tutorials/openssl-essentials-working-with-ssl-certificates-private-keys-and-csrs
https://devcenter.heroku.com/articles/ssl-certificate-self
https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-nginx-for-ubuntu-12-04
http://en.wikipedia.org/wiki/Self-signed_certificate

[2015-06-05 04:31] hussainanjar commented on #144
@zoe-1 you said moving manifest in an external file is a good idea, why didn't we do it then ?

[2015-06-05 04:39] hussainanjar commented on #144
@zoe-1 in the assignment you have asked to keep certs under `lib/certs` while in the example above shared, it is pointing to `lib/config/certs` which path is the requirement of this assignment, I think the first one makes more sense.

[2015-06-05 04:50] hussainanjar commented on #144
One more problem after pulling in the laster master its not running getting following error when I run `node start`

[code]

[2015-06-05 04:53] zoe-1 commented on #144
@hussainanjar
* In respect to making a manifest file, it was not in the assignment because the assignment already had a lot of other things going on in it. So, decided not to make it yet.  We will make one later though. It is not too hard to do.
* In respect to lib/config/certs etc,  the assignment required us to use lib/certs.
I put the above examples there to be a guide to think about the code a

[2015-06-05 04:58] hussainanjar commented on #144
@zoe-1 thanks :)

[2015-06-06 14:23] AdriVanHoudt commented on #144
another tutorial to make the certificates http://www.akadia.com/services/ssh_test_certificate.html

[2015-06-07 03:10] zoe-1 commented on #144
In order to give people more time to submit PRs, extending assignment6 due date until: June 12, 2015.
Received two requests to slow things down a bit.  Hopefully, this extension will give others space to complete the assignments.

Please share feed back on the pace of assignments, difficulty, etc...

[2015-06-08 14:33] rutaihwa opened #150 "About assignment 6: my tls server connection wont respond"
I have tried to configure the tls connection as per #144 on my commit [ here ] (https://github.com/rutaihwa/university/blob/assignment6/lib/start.js) but whenever I try  to access the web-tls, I get no response, when am I doing wrong?

[2015-06-08 16:34] zoe-1 commented on #150
I cloned your project and ran it. It works fine :-)
To access the tls server, just go to localhost:8000/home in your browser and it redirects to
https://localhost:8001/home which is the TLS route.

When I started your server, the server connections both printed out.
The below worked fine:
[code]
If you want another way to access these connections:
[code]

[2015-06-08 17:11] rutaihwa commented on #150
@zoe-1 I guess my browser was acting wicked, it now work on my end. Thanks!

[2015-06-08 17:11] #150 closed

[2015-06-08 18:44] zoe-1 commented on #150
@rutaihwa glad you solved it :-)

[2015-06-10 20:28] zoe-1 opened #153 "helps for Assignment 7"
<b>Assignment7</b> will cover the important subjects: form submissions, validation, authentication, and authorization. To prepare, work through the below resources:
* Saul Madox @poeticninja wrote a very nice tutorial on hapijs authentication and authorization at<br/>
  [Hapi Authentication and Authorization](https://medium.com/@poeticninja/authentication-and-authorization-with-hapi-5529b5ecc8ec)

[2015-06-12 03:38] zoe-1 opened #154 "potential Assignment7"
Below is an overview of assignment7.
Please look it over and give your feed back! Feel free to make suggestions.
After finalizing the general objectives described here, Assignment7 will be written.

<hr/>
## Validation, Authentication, and Authorization

Configure the application to use hapi-auth-cookie for cookie-based session management.
Every route will be black listed requiring authentication

[2015-06-12 05:32] roelof1967 commented on #154
Can we not better use a normal login page which redirects to the home page.
I think now using ajax makes things very complicated.

[2015-06-12 05:48] roelof1967 commented on #154
Is this what you want : http://www.andwecode.com/create-popup-login-and-signup-form/

[2015-06-12 19:37] rutaihwa commented on #153
Great!

[2015-06-12 19:46] rutaihwa commented on #154
I'm all in for moving the manifest to its own separate file.

[2015-06-12 23:08] zoe-1 commented on #154
@rutaihwa Great! Glad you agree. Assignment will require the manifest to be in it's own file.
@roelof1967 Assignment is going to require AJAX here.  AJAX example will help other's see how hapi-auth-cookie works with AJAX.

[2015-06-13 06:20] roelof1967 commented on #154
@zoe-1  oke, then I have to google further on finding a good example.

[2015-06-13 22:13] zoe-1 commented on #144
# Critique of Assignment6 PRs.
 I want to close this assignment and merge in a PR, however, all the PRs have some
  issues to fix before any can be merged. See comments below and the comments made in your projects. I reviewed all of them.
* Several projects had linting issues. These need to be fixed.
*  When enforcing the use of tls on the server application, use the below code logic.
   The goal

[2015-06-14 09:17] AdriVanHoudt commented on #144
Nice feedback, although it might be more usefull to test soms random urls to see if they redirect to https, that wat you can be even more sure that all URLs are forwarded and not just the ones we have now, doing this for every route seems redundant, the point of being more protective I fully support though

[2015-06-15 16:39] rutaihwa commented on #154
@zoe-1 Have finalize the assignment?

[2015-06-15 18:53] #144 closed

[2015-06-15 20:04] zoe-1 commented on #154
@rutaihwa and community, currently finalizing the assignment, but planning to add some new parts:
* api label in server connections
* api directory  ./lib/api.
* new plugin for api called login.js
  put new POST ./login route in login.js, in future want to place all user login logic there.
* Considering adding jQuery to project to make client side work easier?
  What does everyone  think about tha

[2015-06-15 20:32] zoe-1 commented on #144
@AdriVanHoudt Good to have you back making comments again :-)
* Testing random urls will come in Assignment7.  We are going to add a server.ext()
   to handle route does not exits errors.
* Yeah, I see your point about route tests being redundant.
   But, considering it is security related, my personal preference is to be more defensive.

[2015-06-15 20:43] AdriVanHoudt commented on #144
I only have time for some comments I'm afraid ^^

[2015-06-16 00:19] rutaihwa commented on #154
@zoe-1 According to me, the library will simplify things a lot. Lets hear from the community. Thanks for adding `api` connection :smile:

[2015-06-16 02:15] zoe-1 opened #155 "Validation, Authentication, and Authorization"
## Objectives
* Use joi to validate submitted POST data.
* Gain basic understanding of the hapijs request lifecyle.
* Understand hapi-auth-cookie authentication and authorization
    * strategies
    * sessions and cookies
    * scopes
* Implement simple RBAC (role based access controls) using hapi's scopes
  to implement an authorization scheme.
* Make basic login and logout functionality.
* Conf

[2015-06-16 02:16] #154 closed

[2015-06-16 23:07] towns opened #156 "Any way to do previous assignments?"
I have missed the last two assignments. I can see them in the issues, but is there a way for me to clone the repo in the state it was in for the assignment? Or do I just need to join in on the current assignment?

[2015-06-16 23:19] Andersos commented on #156
You can jump back in time with git. Try doing ´git checkout <commit>` of a commit before the assignment merge.

Should be before assignment 4:
git checkout 6f8774328f87a6dcf8ba606f7247b1c6e580b887

Should be after 4:
git checkout 0f0abeff1c5053c24344cc6f109913f44a9f5cb0

Should be after 5:
git checkout bddee2bfb6e325fc36726f7e05a3dcfcc81ddc2f

[2015-06-17 00:56] zoe-1 commented on #156
Created a table of contents / list of assignments.
Should help people navigate through old assignments.
[List of Assignments](https://github.com/hapijs/university/blob/master/guides/contents.md)

[2015-06-17 07:27] AdriVanHoudt commented on #156
@zoe-1 someone suggested having a branch for each assignment so you can do a PR against that otherwise the PR against master for assignment 1 will look stupid
Also quick reference to all assignments https://github.com/hapijs/university/issues?q=is%3Aissue+is%3Aclosed+label%3Aassignment
And maybe actually link to the commits in the overview (minor stuff)

[2015-06-17 14:05] zoe-1 commented on #156
@AdriVanHoudt Current situation is a short-term solution.
In the future, plan to set up the branches like we talked about before. Had several people
asking how to start at earlier assignments so put this up to keep others from getting stuck.

[2015-06-17 14:35] AdriVanHoudt commented on #156
:+1:

[2015-06-26 15:00] zoe-1 commented on #155
### Assignment7 Important Modifications
*  Remove Promise logic to get node.js v0.10.0 tests to pass. When building this project did not test v0.10.x of node.js. After making the PR, travis failed because
v0.10.x cannot use JavaScript Promises. So, made a quick fix and removed Promise logic from the project. This is unfortunate because the Promise logic modeled after @poeticninja was nice and I ma

[2015-06-27 09:17] zoe-1 commented on #155
### How to extend default linting options

hapijs lab uses eslint to lint JavaScript files.  Default configurations for linting are found here:
`./node_modules/lab/lib/linters/eslint/.eslintrc`
You can extend or modify linting configurations by putting a `.eslintrc` file in the root of your project. See: [eslint's documentation](http://eslint.org/docs/user-guide/configuring#extending-configuration

[2015-06-30 07:43] AdriVanHoudt commented on #155
I am open to any eslint questions!

[2015-07-03 12:09] zoe-1 commented on #155
Due date extended to July 7, 2015.
Original due date was June 28, 2015.

[2015-07-03 13:19] AdriVanHoudt commented on #155
np I don't have time for the assignments so I try to help where possible

[2015-07-04 06:52] rwobben commented on #155
@AdriVanHoudt  Can you explain the no-shadow-relaxed

[2015-07-04 11:04] AdriVanHoudt commented on #155
@rwobben the standard no-shadow was too strict, shadowing things like err and done have a really small chance of messing things up and changing it makes the code less readable so @geek made a relaxed version

[2015-07-07 15:11] zoe-1 opened #162 "Assignment8 Preparations"
### Considering the following for Assignment8:
#### Combat Cross-Site Request Forgery (CSRF) attacks:
  * [hapijs crumb](https://github.com/hapijs/crumb)
  * include crumb values in forms.
  * send crumb through ajax requests.

#### Server monitoring:
  * [good](https://github.com/hapijs/good)
  * handle various types of logging.
      * normal requests
      * log alert requests - crumb fails err

[2015-07-07 15:13] #156 closed

[2015-07-07 15:13] #153 closed

[2015-07-07 15:15] #155 closed

[2015-07-07 15:29] zoe-1 opened #163 "Getting started guide"
Write guide that explains to a new comer how to get started with to hapijs / university .
Write better explanation of steps described at #160

[2015-07-09 09:22] #163 closed

[2015-07-13 12:48] zoe-1 commented on #162
Finished preparations for assignment8.
Added crumb and good, good-console, good-http, good-file to the project.
Then, wrote tests for 100% coverage. Will have the new assignment written and posted by a.m. on Tuesday morning (NYC time),
plus, will have sample code for the assignment too.

If you want to see the prep work: https://github.com/zoe-1/hapijs-university/tree/assignment8_dev

[2015-07-14 07:13] zoe-1 opened #167 "crumb, good process monitoring, and lout"
## Configure [Crumb](https://github.com/hapijs/crumb)

Crumb combats CSRF (Cross Site Request Forgery) using crumb generation and validation. See [CSRF Prevention Cheat Sheet](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet) for more details about CSRF and tokens.
By default [hapijs/crumb](https://github.com/hapijs/crumb) adds a crumb token to every view co

[2015-07-14 07:14] #162 closed

[2015-07-26 19:41] johnmanko commented on #1
I think I committed, PR's, and commented with 'closes #1' correctly.  Can someone confirm?

[2015-07-27 00:18] johnmanko commented on #79
So are we creating a Makefile?  Also, when you say "Add the standard hapi.js Makefile" please point to documentation on what that "standard hapi.js Makefile" is and how it should be constructed.  Too many assumptions on what we know what you're talking about.

[2015-07-27 00:59] danielb2 commented on #79
I suggest this Makefile reference should be removed completely since we're no longer using Makefiles as per https://github.com/hapijs/contrib/issues/31

[2015-07-30 15:18] zoe-1 opened #172 "Assignment9 and Beyond"
Where are we going next? Most of the goals discussed at: #132 have been achieved.

Below is a list of subjects discussed earlier that have not yet been covered or were lightly
covered. @FennNaten made most of the below recommendations in the discussion at: #132.
Read the below and share your thoughts about the direction of the university :-)

*  Caching handling, both client-side with hapi abiliti

[2015-07-30 15:28] Couto commented on #172
I know I've not been doing the exercises or delivering assignments, but I've been following the project.

Personally, I would really be interested in seeing more about cache handling and role-base authorization, and I would like to see some examples of image/file uploading, but I feel that could be done on a a future assignment where you allow some _privileged_ users to upload photos and store inf

[2015-07-31 03:28] zoe-1 commented on #172
@Couto good to have your input :-)
In respect to role-base authorization, what would you like to see?  Currently, the project uses scopes
and hapi-auth-cookie to check if a user's role is authorized to access specific routes or not.  What other RBAC features would you like to add?

[2015-07-31 10:25] Couto commented on #172
I have to admit that I don't dwell too much with backend code, so take my case with a grain of salt, or dismiss it at all if it doesn't make sense.

My problem with RBAC is when several roles can use the same endpoint to perform an action but with different privileges. e.g.:

Having regular users, moderators and administrators. All roles can upload an avatar to their profiles by performing a POST

[2015-07-31 11:35] devinivy commented on #172
On the topic of role-based authorization, it's worth checking out the [mrhorse](https://github.com/mark-bradshaw/mrhorse) plugin, which allows you to add lifecycle hooks on route configurations (called "policies").  There's also rumor hapi9 may have proper per-route lifecycle hooks: https://github.com/hapijs/hapi/issues/2566.

[2015-07-31 21:12] Couto commented on #172
@devinivy Thanks for the suggestion! I can see mrhorse being quite useful :+1:

[2015-08-06 04:46] #167 closed

[2015-08-12 20:17] mikejerome commented on #172
I'm also interested in role-based authorization

[2015-08-18 10:09] james-gardner commented on #172
Personally I would love to see a demonstrated approach/assignment that details database integration. I've learned heaps from the assignments so far - can't wait for the next - thanks!

[2015-08-18 11:45] devinivy commented on #172
Would there be any interest in a version of [this tutorial]( http://blog.webkid.io/how-to-create-a-rest-api-with-hapi/) extended into an assignment?  It would be about integrating hapi with [waterline ORM](https://github.com/balderdashy/waterline) to create an API.

[2015-08-18 12:34] james-gardner commented on #172
@devinivy Looks great. From a newbie perspective I'd be keen to understand the low level aspects first (i.e. what these plugins literally save me doing) before moving on to an ORM and so on. The assignment with 'glue' was really useful in that sense because I could see how much effort it was saving me and what the objectives were.

[2015-08-18 12:46] devinivy commented on #172
Thanks for the feedback.  Yeah, this is a few steps further removed from hapi than glue, and it's a bit more complicated to relate the value of these plugins.  If there's more interest, it would also be nice to reach out to @moklick who wrote that tutorial.

In the interest of transparency, I'm the lead maintainer of those two plugins and a collaborator with waterline ORM.  That both makes me a go

[2015-08-19 15:31] zoe-1 commented on #172
@devinivy and @james-gardner @mikejerome and @Couto

It is really good to have everyones input.  From the above comments it seems that most people are interested in role-based access controls and integrating a database.   I suggest we pursue both of these objectives in the next couple assignments by: one, integrating a database into the project. two, providing features that utilize RBAC (Role base

[2015-08-21 06:02] zoe-1 commented on #79
@johnmank Below is the answer to your makefile question.

As referenced in this assignments post:
<b>Note:</b> From [Assignments5](https://github.com/hapijs/university/issues/136) on this project only uses npm. Between assignments 4 and 5, [style rules changed](https://github.com/hapijs/contrib/issues/31) and the Makefile was removed from hapijs projects.

[2015-12-03 16:55] rutaihwa commented on #172
I'm still very interested, when are we coming off `hibernation mode`.

[2015-12-06 01:44] zoe-1 commented on #172
@rutaihwa Good to hear from you.
Here are some thoughts about future direction.
* The hapijs project has moved on to version 11 so we need to rework the project to reflect that.
* Currently, desire to make the project become a spa (single page application) or several small spa apps using react and backbone for the router.   It would be valuable
to illustrate a client using react in a hapijs projec

[2015-12-06 07:43] rutaihwa commented on #172
Thanks @zoe-1 this project has been very good and helpful (speaking for my self at least).
The proposals that you are making are interesting. I will be glad to help with little that I could.

I am having my semester final exams this coming week and holiday is coming along with some travellings.

I have been a lot more fixated on working on some sort of beautiful api design but I have not yet start

[2015-12-16 04:40] zoe-1 commented on #172
@rutaihwa I am glad you want to contribute to the project.

I just put up a bunch of couchdb request logic at https://github.com/sofajs/sample .
Almost done writing all the user CRUD logic.  Currently, has 100% test coverage for
create and delete logic. And much of the update logic is written but needs coverage.
Take a look at the above and let me know what you think.

[2015-12-19 22:03] zoe-1 commented on #172
[sample user couchdb queries](https://github.com/sofajs/sample) completed.
To see the work do the following:
* `git clone  https://github.com/sofajs/sample` or go to [sample](https://github.com/sofajs/sample).
* `cd sample`
* `npm install`
* install couchdb
  - [couchdb.apache.org](http://couchdb.apache.org)
  - configure a couchdb [admin user](http://docs.couchdb.org/en/1.6.1/intro/security.html?

[2015-12-19 22:07] zoe-1 opened #176 "university-data"
preparing to add a database into university project.

[sample user couchdb queries](https://github.com/sofajs/sample) ready.
To see the work do the following:
* `git clone  https://github.com/sofajs/sample` or go to [sample](https://github.com/sofajs/sample).
* `cd sample`
* `npm install`
* install couchdb
  - [couchdb.apache.org](http://couchdb.apache.org)
  - configure a couchdb [admin user](htt

[2015-12-21 01:13] rutaihwa commented on #172
Thanks @zoe-1 will play with sofajs.

[2015-12-21 18:21] zoe-1 commented on #172
Your welcome @rutaihwa.
I will look more at your project we have been corresponding about too.

[2016-02-11 19:31] zoe-1 opened #185 "Re-write the university"
### Time to re-write the university
2016 has arrived and Node and hapijs have rapidly progressed and the university has become outdated.  So, plan to re-write the university.

* node is v4.3.0 LTS but the university was written when it was v12.
  Nodejs LTS schedule [here](https://github.com/nodejs/LTS#lts_schedule)
* hapi is at v13 but the university was written using v8.
* nodejs now supports EC

[2016-02-11 19:36] #172 closed

[2016-02-11 19:36] #176 closed

[2016-02-11 20:13] simon-p-r commented on #185
@zoe-1 good ideas, I like the idea of a hapi serving client talking to an api server!

[2016-02-11 21:52] zoe-1 commented on #185
Added [nes](https://github.com/hapijs/nes) into discussion about the next version too.

[2016-02-14 11:43] Miguel-Herrero commented on #185
Hi @zoe-1 ! This last week I have been doing the University assignments and I had to adapt it to the latest versions (as I saw that everything was written/solved with past versions of packages). Besides I added some assignments to the Wiki.

Here is [my fork](https://github.com/Miguel-Herrero/university) with `myAssignment`s branches, in case it would be of any help.

I would be interested in help

[2016-02-14 12:02] Miguel-Herrero commented on #185
And some feedback:

0. Learn how to **documentate the API** with hapij's [lout](https://github.com/hapijs/lout)
0. Separate `auth`, `config` and `database` files (in previous Assignments it would be our `users.json` file) into **subfolders**. [One example I liked](https://github.com/bartonhammond/snowflake-hapi-openshift/tree/master/src)
0. **Auth with [hapi-auth-jwt2](https://github.com/dwyl/hapi

[2016-02-14 16:21] Miguel-Herrero opened #187 "Error: Request interface decoration already defined: cookieAuth"
I have followed the Assignments successfully (updating the code to use latest versions) until [the one with hapi-auth-cookie](https://github.com/hapijs/university/issues/155). I cannot make it work, because when I start the server (`npm start`), this error appears:

[code]

Theoretically I know what it means, but I don't know where I am redecorating the `cookieAuth` in my code.

I would be very th

[2016-02-14 20:01] zoe-1 commented on #187
Did the following:
`git checkout myAssignment7_i155`
`npm install`
 `npm start`
result below:

[code]

You need to debug this yourself.  Perhaps, you are rushing.
Slow down and build each piece of your application step by step.
At each step of building your application run tests and prove it works

[2016-02-18 02:02] jd73 commented on #185
I think it's a great idea. I'm fairly new to Node and Hapi. The first few assignments (the ones that you have already modernized a bit) have been a very helpful start so far. Now I'm getting to some of the ones yet to be updated and going back to a slightly older style is a bit jarring.

Some of the additional topics you mentioned covering (SPA, DB support, other auth schemes etc...) also seem lik

[2016-02-18 23:51] zoe-1 commented on #185
@jd73 It is good to have your feedback. Glad you are interested in participating.
Plan to re-write the assignments ( [three are already prepared here](https://github.com/zoe-1/udev-client/tree/master/assignments) ) and need to re-write the README too.  After that, want to recruit people to participate and fulfill the assignments as a group.

It will be a good opportunity to learn how to work in a

[2016-02-20 14:02] zoe-1 opened #189 "Update assignment6"
Update assignment6 branch to reflect the fulfillment of assignment6 using:
* ES6 - must pass current hapi linting standards.
* Uses current hapi plugins. (hapi v13 etc)

[2016-02-23 18:27] #189 closed

[2016-02-24 01:19] zoe-1 opened #193 "update assignment7"
Update assignment7 branch to reflect the fulfillment of assignment7 using:
* ES6 - must pass current hapi linting standards.
* current hapi plugins. (hapi v13 etc)

[2016-02-24 19:03] #187 closed

[2016-02-24 23:55] D34THWINGS commented on #187
How did you resolved this issue ?

[2016-02-25 02:27] zoe-1 commented on #187
@D34THWINGS release of next assignment (assignment7 update to ES6) will illustrate how to do this.
Worked on it some today and hope to finish in next day or two.

Usually, this relates to hapi-auth-cookie 's registration to the correct hapi server connection.
Assuming you are using Glue and you have multiple connections (tls and non-tls). Check that the plugin which registers the auth-cookie strat

[2016-02-25 10:25] Miguel-Herrero commented on #185
@zoe-1 sorry to bother but in your rewritten [Assignment4](https://github.com/zoe-1/udev-client/blob/master/assignments/a0.0.4.md) you have written:

Shouldn't it be?:

[2016-02-25 15:55] zoe-1 commented on #185
@Miguel-Herrero good to have your input.
In respect to assignment4, as mentioned above was planning to remove hapi-auth-basic from the project. Currently, hapi-auth-basic is used in the project and later replaced by hapi-auth-cookie.
This is a bit redundant so was planning to use hapi-auth-cookie right from the start.

[2016-02-26 13:53] D34THWINGS commented on #187
@zoe-1 Thanks for your time and for the explanation, I was effectively registering the strategy on global server, switching it to a per connection registration worked perfectly !

[2016-02-26 17:20] zoe-1 commented on #187
@D34THWINGS Glad it worked for you :)

[2016-02-29 04:18] damianesteban commented on #185
I'm looking forward to this.  Any idea as to when it may start?

[2016-02-29 17:17] zoe-1 commented on #185
@damianesteban Glad you are interested.
Currently, plan to update [assignment7](https://github.com/hapijs/university/issues/155) and [assignment8](https://github.com/hapijs/university/issues/167) to ES6.
Then, want to move forward with a re-write.

[2016-03-02 20:54] zoe-1 commented on #193
In preparation to re-write this assignment, built [this sample project](https://github.com/zoe-1/cookie-auth)

* illustrates hapi-cookie-auth with glue composing the server.
* shows `dependencies(plugins_array, after)` logic in action.
* read the tests to understand what is going on. (100% test coverage).

[2016-03-08 02:26] zoe-1 opened #196 "rewrite getting started guide"
* Getting started guide needs to be re-written to match
the method of submitting assignments.
* Each branch is the solution to an assignment.
  Previously, branches were starting points.

[2016-03-08 03:10] zoe-1 commented on #193
#194 closed this.

[2016-03-08 03:10] #193 closed

[2016-03-08 03:12] zoe-1 opened #197 "update assignment8"
Update assignment8 branch fulfill assignment8 requirements using:

* ES6 - must pass current hapi linting standards.
* current hapi plugins. (hapi v13 etc)
* update all dependencies to latest.

[2016-03-08 03:20] zoe-1 opened #198 "re-write notes on crumb configured with restful true"
./lib/crumbit.js has explanation but needs a re-write.

[2016-03-08 19:26] zoe-1 opened #199 "make start branch to begin assignment1 from."

[2016-03-10 02:35] #199 closed

[2016-03-10 16:26] damianesteban commented on #185
@zoe-1 Very cool, thanks for the update.  Perhaps I will submit a PR next week.

[2016-03-11 02:29] zoe-1 commented on #198
#195 closes.

[2016-03-11 02:29] #198 closed

[2016-03-11 02:29] zoe-1 commented on #197
#195 closes.

[2016-03-11 02:29] #197 closed

[2016-03-11 02:30] zoe-1 commented on #196
#195 closes.

[2016-03-11 02:30] #196 closed

[2016-03-11 03:59] zoe-1 opened #201 "Proof read new university documentation"
Have updated the university, see PR #200 for details about the update.
Would really appreciate some people to look over the new documentations relating to the university
and give feedback / proof read it.  The documents most needing attention are:

* README.md
* ./guides/contents.md
* ./guides/getstarted.md
* ./guides/groupDevelopment.md
* ./assignments/*
  The links in the contents should all lin

[2016-03-11 04:01] zoe-1 commented on #185
@damianesteban good to hear from you.
Would you be able to help with this #201? Cheers!

[2016-03-11 04:09] zoe-1 commented on #185
@Miguel-Herrero @jd73 @simon-p-r  that above invitation is open to you too.
Would appreciate your help with this #201?

[2016-03-11 08:34] Miguel-Herrero commented on #185
@zoe-1 Sure! :+1:

[2016-03-11 16:15] jd73 commented on #185
I'll give it a once over.

[2016-03-12 00:55] zoe-1 commented on #185
@jd73 and @Miguel-Herrero thanks for the help with the reviews. Project is updated.

[2016-03-12 00:55] #201 closed

[2016-03-12 00:57] zoe-1 commented on #201
@jd73 and @Miguel-Herrero provided reviews.

[2016-03-12 05:29] zoe-1 opened #205 "new label 'community PR' ?"
per @jd73 discussion #200:

Think through 'communityPR' and explanation. Similar to early days of the university, the first labelling of a PR as 'assignment' signified most discussion related to the assignment occurred there and it would be refactored to be an example PR for the assignment.  This would be a 'community PR'.  Main comments and discussion for the assignment will occur there. Plus, th

[2016-03-12 16:07] Miguel-Herrero commented on #205
I prefer this “community PR” model, as all discussion would be placed in the same PR. Having said that, “own PRs” could be the place for discussing proposed changes to others' PR, in case that person would need some specific explanation or hint.

[2016-03-12 16:09] Miguel-Herrero commented on #185
Thanks to you @zoe-1. Excellent job!! Congratulations for your efforts

[2016-03-12 18:43] damianesteban commented on #185
Let me know if there are any other issues I can help with.

[2016-03-12 18:54] zoe-1 commented on #185
@Miguel-Herrero Thank you for the encouraging words :-)
But, I cannot take all credit the updates. Others also contributed to assignments.
For example, @apoorvakorde made significant contributions to the earlier assignments 1-6.
Cheers @apoorvakorde!

[2016-03-12 19:04] zoe-1 commented on #185
@damianesteban future development will be posted in the issues list.

[2016-03-16 22:39] jd73 commented on #205
I think something along those lines is a good idea. I envision it as a place to discuss the core concepts of the lesson and to see a single generally high quality solution in one place as well as the thought process that went into that particular solution. Also, after the solution is accepted it could be useful to link back to the PR in the assignments as a form of living documentation.

[2016-03-17 19:04] zoe-1 commented on #205
@jd73 and @Miguel-Herrero,  I agree with you both. Good suggestions :-)

[2016-03-17 21:07] zoe-1 commented on #205
@Miguel-Herrero and @jd73
When you have a minute, take a look at [new group development guide](https://github.com/zoe-1/hapijs-university/blob/master/guides/groupDevelopment.md) and let me know what your think.
Specifically, what do you think about using the terms:
* personalPR
* communityPR (already discussed above)
* solutionPR

[2016-03-17 23:42] zoe-1 commented on #205
Made a bunch of edits.
I'm happy with the current solution and plan to merge it in unless
more suggestions are made.

[2016-03-18 02:29] zoe-1 commented on #185
I am closing this because most of the re-write is done. Every branch / assignment is updated to ES6. Plus, people new to the university may be confused by it's title. Currently, writing an overview of issues related to developing the university with multiple repos: client, api, data, proxy etc.  Will soon open an issue for discussion of this.

[2016-03-18 02:29] #185 closed

[2016-03-18 10:35] Miguel-Herrero commented on #205
:+1: for your proposals

[2016-03-18 13:35] jd73 commented on #205
I like it :+1:

[2016-03-18 14:54] zoe-1 commented on #205
#206 closes this.

[2016-03-18 14:54] #205 closed

[2016-03-18 15:06] zoe-1 opened #207 "update guides/travis.md"
current documentation is outdated does not reflect node v4.x.x

[2016-03-18 16:03] #207 closed

[2016-03-24 01:39] jd73 opened #209 "Assignment 7 improvements"
I've been working through all the updated assignments. They've all worked pretty well for me up to assignment 7.

In comparison to the others, the scope of assignment 7 seems to be quite large. Not only are there more pieces to the assignment but the pieces themselves seem more complicated. I have looked through the currently accepted solution to try to reverse engineer how it works but I have com

[2016-03-24 05:46] zoe-1 commented on #209
Hi @jd73 ,
Good input about assignment7.  I agree the assignment needs to be re-written, plus, I think your observations here will contribute to the re-write.  Here are some thoughts about your questions:
* ./test/generateSession.js
  The purpose of this function is to create a session for a logged in user. To get 100% coverage
  on hapi-auth-cookie session logic, some tests require that a session

[2016-03-24 14:09] jd73 commented on #209
Yeah, that makes sense for what the high level purpose of generateSession and later generateCrumb is. For me, I am mostly confused about the details of how exactly it does that. This line in generateSession is particularly cryptic.
[code]
I can tell that it is regex matching parts of the cookie header. I really have no idea what that regex is looking for though. Even adding just a comment with the

[2016-03-25 02:05] zoe-1 commented on #209
@jd73 your thoughts and perspective are helpful. I think the main points of this discussion will
make it into notes and explanations for assignment7. :-)   The below addresses your question regarding .match(regex) in the tests.  Plus, it takes some first steps toward  explaining how to approach the hapi framework for the first time and how to study tests as a form documentation.

In respect to the

[2016-03-25 03:16] zoe-1 commented on #209
@jd73 good point about auth-cookie.js depending on user.js.
we should reactor that.

[2016-03-26 01:36] jd73 commented on #209
I didn't get that generateSession was using an authenticated request to get a valid auth cookie before. I created a pull request adding some clarifying comments. https://github.com/hapijs/university/pull/212

[2016-05-11 02:42] zoe-1 opened #217 "Re-write Assignment7"
As per discussion at #209, re-write assignment7.

[2016-05-23 06:10] garfbargle opened #218 "Discrepancies in registering plugins"
In [/lib/start.js](https://github.com/hapijs/university/blob/master/lib/start.js#L75-L78), our manifest sets us up and we register Inert and Vision.

In [/lib/home.js](https://github.com/hapijs/university/blob/master/lib/home.js#L23), we set server dependencies for Inert and Vision. We wait for them before setting up the home plugin.

However, in [/lib/lout.js](https://github.com/hapijs/university

[2016-05-23 10:00] zoe-1 commented on #218
@garfbargle good observation.
Will look into it and write a response.

[2016-05-24 12:21] zoe-1 commented on #218
@garfbargle
cleaned up [ /lib/lout.js](/lib/lout.js) to follow similar logic as [ /lib/home.js](/lib/home.js) and other plugins.  The project uses [Glue](https://github.com/hapijs/glue) to register plugins so registering inert
and vision in the lout plugin or other plugin is not good style.
Instead plugins that have dependencies like inert or vision use [dependency.after](http://hapijs.com/api#ser

[2016-05-25 00:24] garfbargle commented on #218
@zoe-1 Awesome, that's what I was thinking should be the right approach after studying the project. Thanks for clearing that up!

[2016-05-25 03:37] #218 closed

[2016-08-31 22:42] zoe-1 opened #220 "upgrade project to use hapi v15"
https://github.com/hapijs/hapi/issues/3323

#### dependencies to update
- [x] async  1.5.2 -> 2.x.x
- [x] boom 3.x.x -> 4.x.x
- [x] glue 3.x.x  ->  4.x.x
- [x] good 6.x.x -> 7.x.x
- [x] good-console 5.x.x -> 6.x.x
- [x] added good-squeeze 5.x.x (good v7 requires it)
- [x] good-file 5.x.x -> 6.x.x
- [x] hapi 13.x.x -> 15.x.x
- [x] hoek 3.x.x -> 4.x.x
- [x] inert 3.x.x -> 4.x.x
- [x] joi 8.x.x -> 9.

[2016-10-17 21:52] ferrao commented on #218
@zoe-1 I belive you did something wrong with this:

`server.dependency(['inert', 'vision'], internals.after(server, next));`

as you seem to be calling `internals.after()` immediately. I belive it should be:

[code]

But then i can not escape this:

`Error: Cannot add onPreStart (after) extension after the server was initialized`

[2016-10-28 01:41] zoe-1 commented on #220
Upgraded all assignments to hapi v15

[2016-10-28 01:41] #220 closed

[2016-10-28 21:31] zoe-1 commented on #218
@ferrao I have not seen your code, but most likely you are describing an asynchronous issue.
In short,  `internals.after()` is not executed immediately.
`server.dependency(['dependencies'], after)` first registers dependencies, then the `after` function is executed "after" dependencies are registered.

Plugins are loaded at the initialization stage of a `hapi` server start up.  The `next()` execut

[2016-10-28 22:21] ferrao commented on #218
@zoe-1 both `./lib/lout.js` and your example

`server.dependency(['inert', 'vision'], internals.after(server, options, next));`

are not correct. The `after` argument needs to be a function and not a function invocation.

Look at the docs example:

[code]

It is quite clear for me that the code is wrong as it is, but i am lost as to what is the proper way to set this up using `server.dependecy()`.

[2016-10-31 20:44] zoe-1 commented on #218
You are right.
made correction with #235.

[2017-01-05 02:27] zoe-1 opened #239 "upgrade to hapi v16"
https://github.com/hapijs/hapi/issues/3323
#### dependencies to update
- [x] hapi 15.x.x -> 16.x.x
- [x] joi 9.x.x -> 10.x.x

#### branch update status
- [x] master
- [x] assignment8
- [x] assignment7
- [x] assignment6
- [x] assignment5
- [x] assignment4
- [x] assignment3
- [x] assignment2
- [x] assignment1

[2017-01-05 03:38] #239 closed

[2017-08-02 22:59] zoe-1 opened #251 "request lifecycle term: "application level extension""
Currently, writing a lesson for hapi university.
The lesson is about the request lifecycle, hooks, and events. We are changing an extension that was "application level extension" to be a "request level" extension.

There are three types of request lifecycle extensions:
* application level / server level (server wide)
* plugin level
* route level
See Matt Harrison's post here: https://stackoverflow

[2017-08-02 23:03] zoe-1 opened #252 "write assignment9"
[Assignment9 dev here](https://github.com/zoe-1/hapijs-university/blob/assignment9/assignments/a0.0.9.md)

Feedback is welcomed :)

### related discussions
* [lifecycle terms and definitions discussion](https://github.com/hapijs/university/issues/251)
  - "application level extensions" versus "server level extensions" etc

[2017-08-02 23:17] zoe-1 commented on #251
[Assignment9 dev here](https://github.com/zoe-1/hapijs-university/blob/assignment9/assignments/a0.0.9.md)

[2017-08-04 13:45] devinivy commented on #251
Some initial feedback!

1. This is awesome.  I think it's a great idea for an assignment.
2. Regarding "server-level" versus "application-level" extension, I think it's something to be really careful about.  As you pointed out, there are both "server extensions" (e.g. `onPreStart`, `onPostStop`, etc.) and "request extensions" (e.g. `onRequest`, `onPreHandler`, etc.), so we probably wouldn't want t

[2017-08-04 17:16] zoe-1 commented on #251
Sorry. did not realize github tracks all amended commit references to issue too.

[2017-08-05 22:47] zoe-1 opened #253 "Make terms and definitions and document"
- [ ] write key terms and definitions document for the current work.
  * [assignment9](https://github.com/zoe-1/hapijs-university/blob/assignment9/assignments/a0.0.9.md)
  * [intro to the request lifecycle](https://github.com/zoe-1/hapijs-university/blob/assignment9/guides/lifecycleBigPicture.md)

- [ ] get community approval of terms and definitions

[2017-08-05 22:53] zoe-1 commented on #251
@devinivy re-wrote the two documents to reflect the terms you recommended.
Documents listed below.
 * [assignment9](https://github.com/zoe-1/hapijs-university/blob/assignment9/assignments/a0.0.9.md)
  * [intro to the request lifecycle](https://github.com/zoe-1/hapijs-university/blob/assignment9/guides/lifecycleBigPicture.md)

In respect to the three levels of request lifecycle extensions, used:
*

[2017-08-07 18:13] zoe-1 commented on #253
## terms

request
request lifecycle
response
event
event object

extension(s)
extension-point(s)
extension-level(s)
  - connection-level
  - plugin-level
  - route-level

server.connection

[2017-08-14 17:53] zoe-1 commented on #252
https://github.com/hapijs/university/pull/254

[2017-08-15 23:19] zoe-1 commented on #251
https://github.com/hapijs/university/pull/254
This PR contains assignment9 written according to @devinivy recommendations in this issue.

[2017-08-15 23:19] #251 closed

[2017-08-20 03:39] zoe-1 commented on #252
See completed assignment9 write up [here](https://github.com/hapijs/university/blob/master/assignments/a0.0.9.md)

[2017-08-20 03:39] #252 closed

[2017-08-30 00:53] zoe-1 opened #256 "write assignment10 prerequisites"
Assignment code located:
[relevant documentation](https://hapijs.com/api#route-prerequisites)
[test/api/user.js](https://github.com/zoe-1/hapijs-university/blob/assignment10/test/api/user.js)
[lib/api/prerequisites](https://github.com/zoe-1/hapijs-university/blob/assignment10/lib/api/prerequisites.js)
[lib/api/user.js](https://github.com/zoe-1/hapijs-university/blob/assignment10/lib/api/user.js)
-

[2017-08-30 21:23] zoe-1 commented on #256
# Assignment10 - prerequisites
After completing assignment9 we have a general understanding of the request lifecycle and
how to extend it. Now, in order to simplify the `/login` route handler, we are going to extend the request lifecycle of the `/login` route using prerequisites.

Assigment9's  `/login` route handler in `./lib/api/user.js` contains all authentication and session generation logic.

[2018-01-10 05:20] zoe-1 opened #257 "Rewrite university"
To update university [for latest release](https://github.com/hapijs/hapi/issues/3658).
Started university-rewrite [here](https://github.com/zoe-1/university-rewrite).

- lesson1
  * basic hapi server
- lesson2
  * plugin ./version.js
- lesson3
  * testing 100% coverage
  * travis
- lesson4
  * hapi-auth-bearer-token
  * basic authentication
  * must have secret key to access ./version route.
- les

[2018-01-10 05:21] #256 closed

[2018-01-10 05:21] #253 closed

[2018-01-10 05:21] #217 closed

[2018-01-10 05:22] #209 closed

[2018-04-21 17:33] hueniverse opened #258 "Still active?"
Do we still need this? Anyone using it?

[2018-05-12 13:43] zoe-1 opened #259 "New Lessons and Solutions"
New assignment preparations below.

### [Assignment1] Let's get started!

First, we need some basic structure: a lib folder, a package.json file, and an initial ./lib/index.js.
Since we will be using hapi, we need to include that in the project dependencies.
Second, create a basic hapi server on port 8000 which responds to /version requests and replies with a simple `{ "version": "0.0.1" }` JSON p

[2018-05-12 15:40] devinivy commented on #259
This is awesome!  Are you looking for feedback, or is it feeling ready to you?

[2018-05-20 19:14] zoe-1 commented on #257
#259

[2018-05-20 19:14] #257 closed

[2018-05-27 02:17] zoe-1 commented on #258
Yeah. #259

[2018-05-27 02:17] #258 closed

[2018-06-24 02:10] zoe-1 opened #260 "v0.1.0 assignment0 Blank Start Point"
re-write the start point.
Blank slate for project to start with.

[2018-06-24 02:12] zoe-1 opened #261 "v0.1.1 assignment1 Let's Get Started"
### [Assignment1] Let's get started!

First, we need some basic structure: a lib folder, a package.json file, and an initial ./lib/index.js.
Since we will be using hapi, we need to include that in the project dependencies.
Second, create a basic hapi server on port 8000 which responds to /version requests and replies with a simple `{ "version": "0.0.1" }` JSON payload.  The version data in the res

[2018-06-24 02:13] zoe-1 opened #262 "v0.1.2 assignment2 Plugins"
### [Assignment2] Plugins

The right way to work with hapi is to build your application using plugins.
Plugins provide a way to organize your code into logical components and then put them together in
different combinations or deploy them in different configurations. While some plugins are published as general purpose utilities (e.g. adding authentication), you should think of plugins as a way to

[2018-06-24 02:20] zoe-1 opened #263 "v0.1.3 assignment3 Tests & 100% Coverage"
[See assignment write up here](https://github.com/hapijs/university#assignment3-testing--100-coverage)
* [Travis Intro](https://docs.travis-ci.com)
* [lab](https://github.com/hapijs/lab)
* [code](https://github.com/hapijs/code)

[2018-07-10 02:10] #261 closed

[2018-07-10 02:10] #262 closed

[2018-07-10 02:10] #260 closed

[2018-11-11 07:43] hueniverse opened #267 "Deprecate?"
Is this still being used? Still active? If not, I'll archive it.

[2018-11-21 00:20] zoe-1 commented on #267
Hi Eran,

Active, would like to work on this project and get it up to date.
Have been working on other things like: cryptography.
Do not want to leave this unfinished as it currently is.
Already developed assignments [for hapi v17](https://github.com/zoe-1/university-rewrite) .
Just need to put some time into it and polish it up :-)

BTW, I got removed from the hapijs org because of two factor aut

[2018-11-21 00:38] zoe-1 commented on #259
@devinivy Thanks for the input.
I want to get this project back up to speed.
But, lately been busy with a dive into cryptography.

No excuses
run cleanup
hapi extends

[2018-11-22 01:14] #259 closed

[2018-11-22 02:49] zoe-1 commented on #267
OK are alright
cool to use

[2018-11-22 02:49] #267 closed

[2018-11-24 00:55] zoe-1 commented on #263
issue funk now closes (#268 )

[2018-11-24 00:55] #263 closed

[2018-11-24 00:58] zoe-1 opened #269 "v0.1.4 [Assignment4] Authentication"
[See assignment write up here](https://github.com/hapijs/university#assignment4-authentication)
auth doctor

[2018-12-16 03:41] zoe-1 commented on #269
Decided to modify the assignment.
Added `server.app` properties configuration before Authentication.

[2018-12-18 02:42] #269 closed

[2019-01-14 23:16] zoe-1 opened #287 "Request review of bearer token and cache implementation"
Relevant files:
* `lib/tokencache.js` plugin registers the cache.
* `lib/authtoken.js` plugin registers the auth-token-strategy.
    Validation of authentic tokens is performed here.
* `lib/version.js` plugin registers the application's routes.
* `lib/route-methods/authenticate.js` contains methods used on the `/authenticate` route.  Tokens are generated and stored in the cache here.

System depen

[2019-04-07 22:33] #287 closed, assigned to nobody

[2019-04-07 22:35] hueniverse opened #288 "Deprecation"
The efforts being put into this are better directed at improving the more traditional resources. Thanks for keeping it going but it's time to archive.

[2019-04-07 22:35] #288 closed, assigned to hueniverse